/**********************************************************************/
/* TD BANK style for validating stylesheet.  Updated May 18 2016      */
/* All colors, including icon colors are inverted to ensure that      */
/* stylesheet is used on the page rather than hardcoding.             */
/**********************************************************************/
/*
 * NOTE: all references to external urls from within stylesheets
 * use a manual cache busting mechanism to force browsers to load
 * new content based on a changing url.  Each url has a 
 * parameter in the form of '?v1'.  When the content is changed
 * (i.e. a dependent stylesheet or image changes), the version
 * number should be manually changed to force cache busting to occur.
 * i.e. '?v1' would be updated to '?v2', etc.
*/

/***********************************************************************/
/* Extend this style from default CGI style by importing it.           */
/* With this approach, defect fixes and updates in CGI default         */
/* style is applied to the extended styls with out much changes.       */
/***********************************************************************/

@import url("../default/portalstyle.css?v1"); 

/***********************************************************************/
/* Overwrite CGI default styles or add new styles below that are       */
/* specific to this style.                                             */
/***********************************************************************/

/* ----------------------------------------------------------------- */


body {
	background-color: #FFFFFF; /* white background */
}



/* ------------------------- PAGE LAYOUT ---------------------------- */

/* --- Master Header --- */
.pageHeader {    
	background-color: #FFFFFF; /* white background */
}

/* --- Header Navigation --- */
.pageHeaderNavigationBackground {
               background-color: #0e3e26; 
               height: 29px;
               border-top: 1px solid #666666;
               border-bottom: 1px solid #666666;
               border-color:#1c1c1c;
               border-bottom-color:#008000;
               border-top-color:#008000;
               background-image:none;

}



/* ------------------------- Master Header Content ---------------------------- */
.headerContent,
.headerContentMinimal {
	background-color: #FFFFFF;
	background: none;
}

.headerLogo {
  background-image: url("images/brand_logo.png?v1");
  width: 80px;
  height: 60px;
  position:absolute;
  display:block;

}

.headerBrandName {
	background-image: none;
	margin-top: 19px;
	
}

.headerBrandName span {
	display: none;
  	font-size: 16px;
  	font-weight: bold;
  	display: inline-block;
  	padding-left: 54px;
  	padding-top: 2px;
  	width: 122px;
  	font-family: Arial,Helvetica,sans-serif;
  	color: #1a5336!important;
 	*padding-top: 3px;
}


.headerSubTitle div {
  margin-left:35px;
  font-family: Arial,Helvetica,sans-serif;
  color: #1a5336!important;
}

.headerBehavior a {
  color: #555!important;
}
.headerBehavior a:hover {
  color: #bdbdbd!important;
}

.headerMessages a {
	background-image: url("images/mail_icon.png?v1");
}

.headerNotifications a {
	background-image: url("images/bubble_icon.png?v1");
}

.headerHelp a:hover {
    color: #bdbdbd!important;
    
}

.headerLogout a {
	color:#1a5336 !important;  	
	border:1px solid #7ea292;
	border-radius: 5px;
	font-weight: bold;
	font-family: Arial,Helvetica,sans-serif;
	vertical-align: middle;
	
	background: linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%);
	/* Mozilla Firefox */ 
	background: -moz-linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%);
	/* Opera */
	background: -o-linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%); 
	/* Webkit (Safari/Chrome 10) */
	background:-webkit-linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%);        
	/* Webkit (Chrome 11+) */ 
	background: -webkit-linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%); 
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f7ef', EndColorStr='#e5f3cd');          
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f7ef', EndColorStr='#e5f3cd')";         
	/* IE10 */
	background: -ms-linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%);
	
}

.headerLogout a:hover {
	color:#E3F1FC;
}


/* ------------------------- Master Footer Content ---------------------------- */
.footerContent {
	color: #555555;
	font-weight:bold;
}

/* -------------------------  Form Content ---------------------------- */
.formContent .columnLeft {
	border-right:1px dotted #00649F;
}

/* ------------------------- MENU ---------------------------- */

/*set colors for all menu bar items*/
.megaMenuBarItem, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem {
	background-color: #00649F;
}

/*selected style*/
.megaMenuBarItem.mmMenuBarItemSelected, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected ,
/*hover style*/
.mmWrapper .dijitMenuPassive .dijitMenuItemHover,
.mmWrapper .dijitMenuPassive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemHover {
  color: #ffffff;
  background-color: #0e3e26;
  border-top: 1px none transparent;
  border-right: 1px none transparent;
  border-bottom: 1px none transparent;
  border-left: 1px none transparent;
  text-decoration: underline;
}

/*the drop down styles*/
.mmDropdown {
	height: auto;
}

/*menu header divider*/
.mmHeaderDivider {
	border-bottom:1px solid #cccccc;
}

.mmContent ul li a {
	color: #1a5336;

}
.mmContent ul li a:hover {
	color:#000000;
}

/*menu divider*/
.mmDivider {
	border-bottom:1px solid #cccccc;
}

.myLinks, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem {
               background-color: #0e3e26;
			   background-position: bottom;
}

.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks {
	background-color: #0e3e26;
}



.myLinksCategory {
	background-color: #E0EEF9;
}

/* ------------------------- Secondary Navigation -------------------- */

.secondaryNav {
        color: #1a5336;
       
}
.secondaryNavLink.navLinkSelected {
	background-image: url("images/sub_navigation_icon_selected.png?v1");
	color: #333333;
}
.secondaryNavLink a {
	color: #1a5336;
	background-image: url("images/sub_navigation_icon_default.png?v1");

}


}
.secondaryNavLink a:hover {
	background-image: url("images/sub_navigation_icon_rollover.png?v1");
	color: #000000;
}

.secondaryNavRefresh a {
	background-image: url("images/refresh_default.png?v1");
}
.secondaryNavRefresh a:hover {
	background-image: url("images/refresh_rollover.png?v1");
}
.secondaryNavEdit a { 
	background-image: url("images/edit_default.png?v1");
}
.secondaryNavEdit a:hover {
	background-image: url("images/edit_rollover.png?v1");
}

.secondaryNavHelp a {
	background-image: url("images/help_default.png?v1");
}


.messagesAttachment a{
	text-decoration: none;
	background-image: url("images/attach_icon.png?v1");
}
.messagesAttachment a:hover {
	background-image: url("images/attach_icon.png?v1");
}



/* ------------------------- Page SubHeader -------------------- */

.pageSubHeader a {
	color: #00649F;
}
.pageSubHeader a:hover {
	color:#00649F;
}

/* ------------------------- Transaction SubHeader -------------------- */

/*the following are deprecated!!! use pageSubHeader items above*/
.transactionReturn {

	padding-right: 10px;
}
.transactionReturn a {
	color: #9dc2b1;

}
.transactionReturn a:hover {
	color:#00649F;
}

/* ------------------------- ERROR SECTION --------------------------- */

.errorText {
	background-image: url("images/error_alert_icon.png?v1");
}
.warnText {
	background-image: url("images/warn_alert_icon.png?v1");
}
.infoText {
	background-image: url("images/info_alert_icon.png?v1");
}


/* ------------------------- DIALOGS --------------------------------- */

.nonCriticalDialog .dijitDialogCloseIcon {
	background-image: url("images/dialog_close_default_icon.png?v1");
}
.nonCriticalDialog .dijitDialogTitleBar {
background-color: #9dc2b1; /*light green*/
}



/* ------------------------- SIDEBAR --------------------------------- */

.formSidebarHeader {
	color: #FFFFFF
}


/* ------------------------- COMMON ICON STYLES --------------------------------- */

/*individual icon styles*/
.search { 
  background-image: url("images/search_icon.png?v1");
}

.copy { 
  background-image: url("images/copy_icon.png?v1");
}

.deactivate { 
  background-image: url("images/deactivate_icon.png?v1");
}

.preview { 
  background-image: url("images/preview_icon.png?v1");
}

.saveAs { 
  background-image: url("images/saveAs_icon.png?v1");
}

.send { 
  background-image: url("images/send_to_bank_icon.png?v1");
}

.saveDraft { 
  background-image: url("images/savedraft_icon.png?v1");
}

.saveDraftClose { 
  background-image: url("images/savedraft_close_icon.png?v1");
}

.reply { 
  background-image: url("images/reply_to_bank_icon.png?v1");
}

.edit { 
  background-image: url("images/edit_icon.png?v1");
}

.authorizeDelete { 
  background-image: url("images/authorize_delete_icon.png?v1");
}

.authorize { 
  background-image: url("images/authorize_icon.png?v1");
}

.attachDocument { 
  background-image: url("images/attach_document_icon.png?v1");
}

.deleteDocument { 
  background-image: url("images/attach_document_icon.png?v1");
}

.add { 
  background-image: url("images/add_icon.png?v1");
}

.verify { 
  background-image: url("images/verify_icon.png?v1");
}

.attach { 
  background-image: url("images/attach_icon.png?v1");
}

.route { 
  background-image: url("images/route_icon.png?v1");
}

.save { 
  background-image: url("images/save_icon.png?v1");
}

.saveclose { 
  background-image: url("images/saveclose_icon.png?v1");
}

.close { 
  background-image: url("images/close_icon.png?v1");
}

.download, .upload{ 
  background-image: url("images/download_icon.png?v1");
}

.approve { 
  background-image: url("images/approve_icon.png?v1");
}

.deny { 
  background-image: url("images/deny_icon.png?v1");
}

.delete, .remove{ 
  background-image: url("images/delete_icon.png?v1");
}

.attachIcon{
}

.attachIcon a{
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
}



.attachIcon a {
	background-image: url("images/attach_icon.png?v1");
}

/* ------------------------- COMMON PAGE STYLES --------------------------------- */

.sectionLinks a:link, .sectionLinks a:visited,
.navigationLinks a:link, .navigationLinks a:visited  {
	/*color: #00649F;*/
	color: #1a5336;
 }
.sectionLinks a:hover, .navigationLinks a:hover {
	color: #000000;
}


.claro .dijitButton .dijitButtonNode {
	color:#1a5336 !important;        
	border:1px solid #7ea292;
	border-radius: 5px;
	font-weight: bold;	
	font-family: 12px Arial,Helvetica,sans-serif;

	background: linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%);
	/* Mozilla Firefox */ 
	background: -moz-linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%);
	/* Opera */
	background: -o-linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%); 
	/* Webkit (Safari/Chrome 10) */
	background:-webkit-linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%);        
	/* Webkit (Chrome 11+) */ 
	background: -webkit-linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%); 
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f7ef', EndColorStr='#e5f3cd');          
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#f3f7ef', EndColorStr='#e5f3cd')";         
	/* IE10 */
	background: -ms-linear-gradient(top, #f3f7ef 0%, #ebf6d4 49.9%, #d9e7c0 50%, #e5f3cd 100%);
}

.claro .dijitButtonHover .dijitButtonNode {
	background: none;
	background-color: #1a5336;
	border: 1px solid #FEFFFF;
	color: #FFFFFF;
	font: 12px arial;
	font-weight: bold;
	font-family: Arial,Helvetica,sans-serif;

	background: linear-gradient(top, #1a5336, #FEFEFE);    
	/* Mozilla Firefox */ 
	background: -moz-linear-gradient(top, #1a5336, #FEFEFE);     
	/* Opera */
	background: -o-linear-gradient(top, #1a5336, #FEFEFE);         
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1a5336), color-stop(1, #FEFEFE));         
	/* Webkit (Chrome 11+) */ 
	background: -webkit-linear-gradient(top, #1a5336, #FEFEFE); 
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#1a5336', EndColorStr='#FEFEFE');          
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#1a5336', EndColorStr='#FEFEFE')";         
	/* IE10 */
	background: -ms-linear-gradient(top, #1a5336, #FEFEFE);
	
	
}

.dijitTextBox   { 
	background-color: #f4f7f4 !important;
}

.claro .dijitComboBox .dijitButtonNode {
    background-color: #f4f7f4;
}

.checkBoxFormItem {
    margin-left: 14px;
    margin-bottom: 10px;
    margin-right: 0px;
}

.formItem.readOnly label {
	color: #333333;
	font-family: Arial,Helvetica,sans-serif;
}

.formItem.readOnly {
	color: #666666;
	font-family: Arial,Helvetica,sans-serif;
}


/* ------------------------- FIELD WIDTHS ---------------------------------- */



/* ----------------------- SUBSECTION HEADER ------------------------ */

.subsectionHeader h3, .subsectionWideHeader h3, .subsectionShortHeader h3{
	color: #333333;
	font: bold 12px arial;
	font-family: Arial,Helvetica,sans-serif;
}

.subsectionWideHeader h3 {
	border-bottom:1px dotted #00649F;
}

/* -------------------------  PANE ---------------------------- */

.claro .dijitTitlePane .dijitTitlePaneTextNode {
	color: #1a5336;
	font-family: Arial,Helvetica,sans-serif;
}

.claro .dijitTitlePaneTitleHover {
	background-color: #C0C0C0;
}


/* ------------------------ FIELD LABELS ---------------------------- */

/* ------------------------ Table Containers ---------------------------- */
.formDocumentsTable .tableSubHeader{
	background-color: #F3F3F3;
}

/* ------------------------ Admin Table ---------------------------- */



/* ------------------------ Page Header ---------------------------- */

/* ------------------------- DATA GRIDS  ---------------------------- */

.gridHeader {
	margin-bottom: 10px;
	font-family: Arial,Helvetica,sans-serif;
}
.gridHeader a{
    color: #1a5336;
	font-family: Arial,Helvetica,sans-serif;
}
.gridHeaderTitle {
	color: #1a5336;
	font-family: Arial,Helvetica,sans-serif;
}

.gridHeaderShowCounts {
	color: #1a5336;
font-family: Arial,Helvetica,sans-serif;
}

.gridHeaderShowCountItem:hover {
	color: #000000;
	font-family: Arial,Helvetica,sans-serif;
}

.gridHeaderShowCounts a {
	color: #1a5336;
	font-family: Arial,Helvetica,sans-serif;
}
.gridHeaderShowCounts a:hover {
	color: #000000;
	font-family: Arial,Helvetica,sans-serif;
}

.claro .dojoxGridMasterHeader {
	background: -moz-linear-gradient(top, #C0C0C0, #FFFFFF);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#c0c0c0));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#c0c0c0);
}

.claro .dojoxGridCellOver .dojoxGridSortNode ,
.claro .dojoxGridHeader .dojoxGridCellOver {
	background: #34b233;
}

.claro .dojoxGridRowSelected .dojoxGridCell {
	background: #34b233 repeat-x;
	border-top:1px solid #9dc2b1;
	border-bottom:1px solid #9dc2b1;
}
.claro .dojoxGridRowbarOver .dojoxGridRowbarTable {
	background-color: #000000;
}
.claro .dojoxGridRowbarSelected{
	background-color: #34b233;
}
.claro .dojoxGridRowOver .dojoxGridCell {
	background: #FFFFFF repeat-x;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #FFFFFF;
}
.dj_ie6 .claro .dojoxGridRowOver .dojoxGridCell,
.dj_ie7 .claro .dojoxGridRowOver .dojoxGridCell {
	border-left:1px solid #FFFFFF;
	border-right:1px solid #FFFFFF;
}

.claro .dojoxGridRowTable tr{
  background:none;
}
.claro .dojoxGridRowOdd .dojoxGridRowTable tr {
	background-color: #C4DF9B;
}

.claro .dojoxGridRowbarInner {
  border:none;
  border-bottom:1px solid #bdbdbd;
}



.claro .dojoxGrid a {
	color:#1a5336;
	font-family: Arial,Helvetica,sans-serif;
}

.gridFooter {
	color: #1c1c1c;
	font-family: Arial,Helvetica,sans-serif;
	background-color: #FFFFFF;
}


/* ------------------------- CUSTOMIZATION PAGES  ---------------------------- */


.deleteSelectedItem {
	background-image: url("images/delete_icon.png?v1");
}
.deleteSelectedItem:hover {
	background-image: url("images/delete_icon.png?v1");
}



/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */


/* ------------------------- ANNOUNCEMENT DIALOG   ---------------------------- */


/* ------------------------- ADD OTHER SPECIFIC PAGE STYLES HERE ---------------------------- */

/* ------------------------- Reference data table containers ---------------------------- */


/* ------------------------ Panel Authorisation Table ---------------------------- */


/* ------------------------ Amount Range Table ---------------------------- */



/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */

/* ------------------------- HOME PAGE   ---------------------------- */
#homeAnnounce {
	background-color: #9dc2b1;
	background-image: url("images/announcement_icon.png?v1");
	color: #1a5336;
	font-family: Arial,Helvetica,sans-serif;
}

#homeAnnounce a {
	color: #1a5336;
	font-family: Arial,Helvetica,sans-serif;
}


/* ------------------------- OTHER SPECIFIC DIALOG WIDTHS ---------------------------- */

