<div class="footer-wrapper">
	<div id="footer" class="clearfix">
		<ul class="quick-links clearfix">
			<li>
				<a href='http://www.scotiabank.com.mx/es-mx/avisolegalTEEP.aspx' onclick='return !window.open(this.href);'>Legal</a>
			</li>
			<li>
				<a href='http://cdn.agilitycms.com/scotia-bank-mexico/spanish/AvisoPrivacidad.pdf' onclick='return !window.open(this.href);'>Privacy</a>
			</li>
			<li class="last">
				<a href='http://www.scotiabankinverlat.com/es-mx/Acerca-de-Scotiabank/seguridad.aspx' onclick='return !window.open(this.href);'>Security</a>
			</li>
		</ul>
	</div>
</div>
<link rel="stylesheet" type="text/css" href="/portal/themes/bnsmx/clientBankStyle.css">