/**********************************************************************/
/* uboc brand                                                         */
/**********************************************************************/
/*
 * NOTE: all references to external urls from within stylesheets
 * use a manual cache busting mechanism to force browsers to load
 * new content based on a changing url.  Each url has a 
 * parameter in the form of '?v1'.  When the content is changed
 * (i.e. a dependent stylesheet or image changes), the version
 * number should be manually changed to force cache busting to occur.
 * i.e. '?v1' would be updated to '?v2', etc.
*/

/***********************************************************************/
/* Extend this style from default CGI style by importing it.           */
/* With this approach, defect fixes and updates in CGI default         */
/* style is applied to the extended styls with out much changes.       */
/***********************************************************************/

@import url("../default/portalstyle.css?v1"); 

/***********************************************************************/
/* Overwrite CGI default styles or add new styles below that are       */
/* specific to this style.                                             */
/***********************************************************************/

/* ----------------------------------------------------------------- */



/* Square One Solutions */

body
{
	background: #FFF;
}

.claro .dijitDialogUnderlay
{
	opacity: 1;
	background-image: url(images/modal_overlay.png);
	background-color: transparent !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.dijitBackgroundIframe
{
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

/* The Header */

.pageHeader
{
	background: #FFF;
}

.headerContent
{
	background: #FFF;
	height: 60px;
}

.headerLogo
{
	background-image: url("images/logo.png");
	height: 34px;
	width: 160px;
	margin-top: 8px;
}

.headerTitle
{
	display: none;
}

.headerBehavior
{
	margin-top: 15px;
}

.headerActionDivider
{
	border-left: 1px solid #CCC;
}

.headerActions a
{
	color: #3A5381;
	text-decoration: underline;
}

.headerActions a:hover
{
	color: #3A5381;
	text-decoration: none;
}

.headerMessages a, .headerNotifications a, .headerHelp a
{
	position: relative;
	top: -2px;
	text-decoration: none;
}

.headerUserName
{
	padding-top: 0px;
}

.headerLogout
{
	padding-left: 0px;
}

.headerLogout a
{
	background: none;
	border-left: 1px solid #CCCCCC;
    padding: 0px 0px 0px 5px;
}

/* The Nav */

/*cgi 1/30/2013 changed to use background class to allow menu bar items to wrap
  but not change page navigation height*/
.pageHeaderNavigationBackground
{
	border-top: 1px solid #CCC;
	border-bottom: none;
	background: url("images/nav_bg.png") top left repeat-x;
	height: 39px;
	overflow: hidden;
}
.pageHeaderNavigationMinimal
{
	border-top: 1px solid #666666;
	border-bottom: none;
	background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");
	background-color: #666666;
	height: 3px;
}
.pageHeaderNavigationMinimal .pageHeaderNavigationBackground
{
	display: none;
}

.megaMenuBarItem, .mmWrapper .dijitMenuBar .dijitMenuItem
{
	background: none;
    color: #333;
    display: inline-block;
    margin: 0px;
    padding: 0px 0px;
    position: relative;
    text-align: left;
    vertical-align: middle;
	height: 38px;
	line-height: 32px;
	font-weight: normal;
	text-transform: uppercase;
	float: left;
	/*cgi 1/30/2013 repeat background image for rows that wrap*/
	background: url("images/nav_bg.png") top left repeat-x;
}

.megaMenuBarItem > span
{
	border-left: 1px solid #CCCCCC;
    display: inline-block;
    height: 34px;
    line-height: 34px;
    padding: 0 15px;
	font-size: 11px;
}

.megaMenuBar .megaMenuBarItem:last-child > span, .mmWrapper .dijitMenuBar .megaMenuBarItem:last-child > span
{
	border-right: 1px solid #CCC;
}
/* cgi 1/30/2013 ie8,7 do not support last-child
   use alternate scheme for those browsers*/
.dj_ie8 .megaMenuBarItem > span,
.dj_ie7 .megaMenuBarItem > span
{
	border-right: 1px solid #CCCCCC;
	margin-right: -1px; /*ensures only 1px wide divider*/
}

.menuBarItemIcon
{
	position: relative;
	top: -2px;
	/*cgi 1/30/2013 ie7 places incorrectly, fix here*/
	*top: -1px;
	*left: 6px;
}

.megaMenuBarItem.mmMenuBarItemSelected, .mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected, .mmWrapper .dijitMenuPassive .dijitMenuItemSelected, .mmWrapper .dijitMenuActive .dijitMenuItemSelected /*cgi 1/30/2013 this seems wrong , .mmWrapper .dijitMenuActive*/
{
	border: none;
	background: url("images/nav_bg_active.png") top left repeat-x;
	padding: 0px;
}
/*cgi 1/30/2013 - clear out IE specifics too*/
.dj_ie .mmWrapper .dijitMenuPassive .dijitMenuItemHover,
.dj_ie .mmWrapper .dijitMenuPassive .dijitMenuItemSelected,
.dj_ie .mmWrapper .dijitMenuActive .dijitMenuItemSelected,
.dj_ie .mmWrapper .dijitMenuActive .dijitMenuItemHover {
	padding: 0px;
	margin: 0px;
}


/* Page Layout */

.formContentNoSidebar
{
	border: none;
	padding: 0px;
}

.gridHeader .gridHeaderTitle
{
	border-bottom: 2px solid #3A5381;
	display: block;
	margin-bottom: 4px;
	padding-bottom: 4px;
	float: none;
}

.gridHeader .gridHeader-right
{
	float: none;
}

.formContentNoSidebar .padded
{
	padding: 0px;
}

#LogonForm .formItem
{
	margin-left: 0px;
}

/* Tables */

.claro .dojoxGridMasterHeader
{
	background: #3A5381;
	background-image: none;
	border: none;
	filter: none !important;
}

.claro .dojoxGridSortNode
{
	line-height: 12px;
}

.claro .dojoxGridRowTable tr
{
	height: 25px;
}

.claro .dojoxGridSortNode
{
	color: #FFF;
	font-weight: normal;
}

.claro .dojoxGridCellOver .dojoxGridSortNode {
	color: #333333 !important;
}

.claro .dojoxGridArrowButtonNode {
	border: 1px solid #000;
	height: 0.7em;
	width: 9px;
	background-position: 1px 50%;
}

.claro .dojoxGridSortUp .dojoxGridArrowButtonNode {
	background: url(images/up-arrow.png) 0px 1px no-repeat;
}

.gridHeaderShowCounts
{
	padding-left: 0px;
}

.claro .dojoxGridHeader
{
}

.mmContent ul li a
{
	color: #3A5381;
	text-decoration: none;
}

.mmContent ul li a:hover
{
	color: #3A5381;
	text-decoration: underline;
}

.claro .dojoxGridRowOver .dojoxGridCell, .claro .dojoxGridRowbarOver .dojoxGridRowbarTable
{
	background: #EEE;
}

/* Forms */

.claro .dijitTitlePaneTitle
{
	background: #E7ECF0;
}

.claro .dijitTitlePane .dijitTitlePaneTextNode
{
	color: #000;
}

.claro .dijitTitlePaneTitleFocus
{
	margin-top: 6px;
}

.dijitTitlePaneTitle .dijitArrowNode
{
	margin-top: 3px;
}

.subHeaderDivider
{
	border-top: 4px solid #3A5381;
}

.claro .dojoxGridMasterHeader .dojoxGridRowTable
{
	border-left: none;
}

.gridFooterAction
{
	color: #3A5381;
}

.nonCriticalDialog .dijitDialogTitleBar
{
	background: #3A5381;
	background-image: none;
}

.nonCriticalDialog .dijitDialogTitleBar span
{
	color: #FFF;
}

.formDocumentsTable thead th
{
	background: #EEE;
}

#templateSearchDialog .dijitDialogTitleBar
{
	background: #999;
}

.claro .dojoxGridHeader .dojoxGridCell
{
	background: #e7ecf0 !important;
	color: #333;
}

.claro .dojoxGridColCaption:hover {
	text-decoration: underline;
	background: #E7ECF0 !important;
}

.claro .dojoxGridCellOver .dojoxGridSortNode, .claro .dojoxGridHeader .dojoxGridCellOver {
	background: #e7ecf0 !important;
}

/*cgi 2/4/2013 fix mylinks formatting issues*/
.myLinks,
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks,
.megaMenuBarItem.myLinks.mmMenuBarItemSelected,
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks.mmMenuBarItemSelected ,
.mmWrapper .dijitMenuPassive .myLinks.dijitMenuItemHover,
.mmWrapper .dijitMenuPassive .myLinks.dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .myLinks.dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .myLinks.dijitMenuItemHover {
	display: inline-block;
	color: #333;
	background-color: transparent;
	background-image: none;
	text-transform: uppercase;
	font-weight: normal;
	height: auto;
	line-height: 20px;
	padding: 7px 10px 11px 10px;
	margin: 0px;
}
/*override the existing ie overrides for mylinks*/
.dj_ie .mmWrapper .dijitMenuPassive .myLinks.dijitMenuItemHover,
.dj_ie .mmWrapper .dijitMenuPassive .myLinks.dijitMenuItemSelected,
.dj_ie .mmWrapper .dijitMenuActive .myLinks.dijitMenuItemSelected,
.dj_ie .mmWrapper .dijitMenuActive .myLinks.dijitMenuItemHover {
	height: auto;
	line-height: 20px;
	padding: 7px 10px 11px 10px;
	margin: 0px;
}
.myLinks span.myLinksDropdownIcon {
	display: none;
}

.myLinks span, .mmWrapper .dijitMenuBar .dijitMenuItem.myLinks span
{
	position: relative;
	/*cgi 1/30/2013 remove this top: -4px;*/
}

.gridHeader
{
	height: 55px;
}

.headerContent, .headerContentMinimal
{
	background: #FFF;
}

.dijitMenuItemHover
{
	border: none;
}

.claro .dojoxGridSortNode
{
	color: #333;
}

.claro .dojoxGridMasterHeader
{
	background: #e7ecf0;
}

.claro .dojoxGridRowOdd .dojoxGridRowTable tr
{
	background: #F6F6F6;
}

#homeAnnounce
{
	background: #F6F6F6;
}

.dijitComboBox
{
	background: #FFF !important;
}
.mmWrapper .dijitMenuPassive .dijitMenuItemHover {
	border: none;
}

/*cgi 1/30/2013 remove this - use same line-height approach as other menu bar items
#dijit_PopupMenuBarItem_5_text {
	line-height: 16px;
}
*/

.claro .dijitComboBox .dijitArrowButtonInner {
	background-color: #fff;
}

..dijitInputInner {
	background: #fff;
}

.myLinksIcon {
	margin-right: 5px;
}

.claro .dijitTextBox {
	background-color: #ffffff !important;
}

.claro .myLinks .myLinksIcon {
	/*cgi 1/30/2013 adjust a bit, ie7 is different*/
	margin-top: -2px;
	*margin-top: 0;
}

/*cgi 1/30/2013 - moved IE specifics for hover above*/

/*-----------------UBOC DGRID BRANDING --------------------------*/
.dgrid-header {
	background: #e7ecf0;
	filter: none !important;
	border: none;
}
.dgrid-header-scroll{
	background: #e7ecf0;
}

.claro .dojoDndItemAnchor, .claro .dojoDndItemSelected {
	background-color: #e7ecf0;
	background-image: none;
	background: transparent;
	background: transparent;
}

.dgrid-header .dgrid-cell:hover {
	background: #e7ecf0;
}
.dgrid-sort-up .ui-icon {
	background: url(images/up-arrow.png) 0px 1px no-repeat;
	border: 1px solid #000;
	height: 0.7em;
	width: 9px;
}
.dgrid-sort-down .ui-icon {
	background-position: -68px -19px;
	border: 1px solid #000;
	height: 0.7em;
	width: 9px;
}
.dgrid-row-table tr{
	height: 25px;
}
.dgrid-row:hover{
	background: #EEE;
	color: #333333 !important;
}
.dgrid-hider-toggle {
	border: none;
}
.dgrid-row-odd {
	background: #F6F6F6;
	filter:none; /* IE Proprietary */
	opacity: none; /* CSS3 Standard */
	-moz-opacity:none; /* Mozilla Property */
}
.dgrid-header .dgrid-cell{
	border-bottom:1px solid #f1f1f1;
	border-color: #FFFFFF #BCBCBC #BCBCBC #FFFFFF;
}
