/**********************************************************************/
/* XBank(Blue) style for validating stylesheet.                       */
/* All colors, including icon colors are inverted to ensure that      */
/* stylesheet is used on the page rather than hardcoding.             */
/**********************************************************************/
/*
 * NOTE: all references to external urls from within stylesheets
 * use a manual cache busting mechanism to force browsers to load
 * new content based on a changing url.  Each url has a 
 * parameter in the form of '?v1'.  When the content is changed
 * (i.e. a dependent stylesheet or image changes), the version
 * number should be manually changed to force cache busting to occur.
 * i.e. '?v1' would be updated to '?v2', etc.
*/

/***********************************************************************/
/* Extend this style from default CGI style by importing it.           */
/* With this approach, defect fixes and updates in CGI default         */
/* style is applied to the extended styls with out much changes.       */
/***********************************************************************/

@import url("../default/portalstyle.css?v1"); 

/***********************************************************************/
/* Overwrite CGI default styles or add new styles below that are       */
/* specific to this style.                                             */
/***********************************************************************/

/* ----------------------------------------------------------------- */


body {
	background-color: #FFFFFF; /* white background */
}



/* ------------------------- PAGE LAYOUT ---------------------------- */

/* --- Master Header --- */
.pageHeader {    
	background-color: #FFFFFF; /* white background */
}

/* --- Header Navigation --- */
.pageHeaderNavigationBackground {
	background-color: #00649F; 
	background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");
	border-top: 1px solid #E3F1FC;
	border-bottom: 1px solid #E3F1FC;
	height: 29px;
}



/* ------------------------- Master Header Content ---------------------------- */
.headerContent,
.headerContentMinimal {
	background-color: #FFFFFF;
	background: none;
}

.headerLogo {
	background-image: url("images/brand_logo.png?v1");
	width: 80px;
}

.headerBrandName {
	background-image: none;
	margin-top: 17px;
}
.headerBrandName span {
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	padding-left: 4px;
	padding-top: 2px;
	width: 122px;
	*padding-top: 3px;
}
.headerBehavior a {
	color: #00649F;
}
.headerBehavior a:hover {
	color: #666666;
}
.headerMessages a {
	background-image: url("images/mail_icon.png?v1");
}

.headerNotifications a {
	background-image: url("images/bubble_icon.png?v1");
}

.headerHelp a:hover {
	background-image: url("images/question_icon_rollover.png?v1");
}

.headerLogout a {
	color: #ffffff; /*white*/
	/*background-image: url("images/logout_button.png?v1");*/
	background-image: none;
	background-color: #00649F;
}
.headerLogout a:hover {
	color:#E3F1FC;
}


/* ------------------------- Master Footer Content ---------------------------- */
.footerContent {
	color: #00649F;
}

/* -------------------------  Form Content ---------------------------- */
.formContent .columnLeft {
	border-right:1px dotted #00649F;
}

/* ------------------------- MENU ---------------------------- */

/*set colors for all menu bar items*/
.megaMenuBarItem, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem {
	background-color: #00649F;
}

/*selected style*/
.megaMenuBarItem.mmMenuBarItemSelected, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected ,
/*hover style*/
.mmWrapper .dijitMenuPassive .dijitMenuItemHover,
.mmWrapper .dijitMenuPassive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemHover {
	color: #00649F;
	background-color: #E3F1FC;
	border-top: 1px none transparent;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}

/*the drop down styles*/
.mmDropdown {
	height: auto;
}

/*menu header divider*/
.mmHeaderDivider {
	border-bottom:1px solid #cccccc;
}

.mmContent ul li a {
	color: #00649F;

}
.mmContent ul li a:hover {
	color:#999999;
}

/*menu divider*/
.mmDivider {
	border-bottom:1px solid #cccccc;
}

.myLinks, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks {
	background-color: #00649F;
}
.myLinksCategory {
	background-color: #E0EEF9;
}

/* ------------------------- Secondary Navigation -------------------- */

.secondaryNav {
	color: #00649F;
}
.secondaryNavLink.navLinkSelected {
	background-image: url("images/sub_navigation_icon_selected.png?v1");
	color: #333333;
}
.secondaryNavLink a {
	color: #00649F;
	background-image: url("images/sub_navigation_icon_default.png?v1");

}
.secondaryNavLink a:hover {
	background-image: url("images/sub_navigation_icon_rollover.png?v1");
	color: #DCEAF5;
}


.secondaryNavRefresh a {
	background-image: url("images/refresh_default.png?v1");
}
.secondaryNavRefresh a:hover {
	background-image: url("images/refresh_rollover.png?v1");
}
.secondaryNavEdit a { 
	background-image: url("images/edit_default.png?v1");
}
.secondaryNavEdit a:hover {
	background-image: url("images/edit_rollover.png?v1");
}

.secondaryNavHelp a {
	background-image: url("images/help_default.png?v1");
}

.messagesAttachment a{
	text-decoration: none;
	background-image: url("images/attach_icon.png?v1");
}
.messagesAttachment a:hover {
	background-image: url("images/attach_icon.png?v1");
}



/* ------------------------- Page SubHeader -------------------- */

.pageSubHeader a {
	color: #00649F;
}
.pageSubHeader a:hover {
	color:#00649F;
}

/* ------------------------- Transaction SubHeader -------------------- */

/*the following are deprecated!!! use pageSubHeader items above*/
.transactionReturn {

	padding-right: 10px;
}
.transactionReturn a {
	color: #00649F;

}
.transactionReturn a:hover {
	color:#00649F;
}

/* ------------------------- ERROR SECTION --------------------------- */

.errorText {
	background-image: url("images/error_alert_icon.png?v1");
}
.warnText {
	background-image: url("images/warn_alert_icon.png?v1");
}
.infoText {
	background-image: url("images/info_alert_icon.png?v1");
}


/* ------------------------- DIALOGS --------------------------------- */

.nonCriticalDialog .dijitDialogCloseIcon {
	background-image: url("images/dialog_close_default_icon.png?v1");
}



/* ------------------------- SIDEBAR --------------------------------- */

.formSidebarHeader {
	color: #FFFFFF
}


/* ------------------------- COMMON ICON STYLES --------------------------------- */

/*individual icon styles*/
.search { 
  background-image: url("images/search_icon.png?v1");
}

.copy { 
  background-image: url("images/copy_icon.png?v1");
}

.deactivate { 
  background-image: url("images/deactivate_icon.png?v1");
}

.preview { 
  background-image: url("images/preview_icon.png?v1");
}

.saveAs { 
  background-image: url("images/saveAs_icon.png?v1");
}

.send { 
  background-image: url("images/send_to_bank_icon.png?v1");
}

.saveDraft { 
  background-image: url("images/savedraft_icon.png?v1");
}

.saveDraftClose { 
  background-image: url("images/savedraft_close_icon.png?v1");
}

.reply { 
  background-image: url("images/reply_to_bank_icon.png?v1");
}

.edit { 
  background-image: url("images/edit_icon.png?v1");
}

.authorizeDelete { 
  background-image: url("images/authorize_delete_icon.png?v1");
}

.authorize { 
  background-image: url("images/authorize_icon.png?v1");
}

.attachDocument { 
  background-image: url("images/attach_document_icon.png?v1");
}

.deleteDocument { 
  background-image: url("images/attach_document_icon.png?v1");
}

.add { 
  background-image: url("images/add_icon.png?v1");
}

.verify { 
  background-image: url("images/verify_icon.png?v1");
}

.attach { 
  background-image: url("images/attach_icon.png?v1");
}

.route { 
  background-image: url("images/route_icon.png?v1");
}

.save { 
  background-image: url("images/save_icon.png?v1");
}

.saveclose { 
  background-image: url("images/saveclose_icon.png?v1");
}

.close { 
  background-image: url("images/close_icon.png?v1");
}

.download, .upload{ 
  background-image: url("images/download_icon.png?v1");
}

.approve { 
  background-image: url("images/approve_icon.png?v1");
}

.deny { 
  background-image: url("images/deny_icon.png?v1");
}

.delete, .remove{ 
  background-image: url("images/delete_icon.png?v1");
}

.attachIcon{
}

.attachIcon a{
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
}

.attachIcon a {
	background-image: url("images/attach_icon.png?v1");
}

/* ------------------------- COMMON PAGE STYLES --------------------------------- */

.sectionLinks a:link, .sectionLinks a:visited,
.navigationLinks a:link, .navigationLinks a:visited  {
	color: #00649F;
 }
.sectionLinks a:hover, .navigationLinks a:hover {
	color: #666666;
}


.claro .dijitButton .dijitButtonNode {
	background-color: #00649F;
	border: 2px 2px 2px 2px solid #FEFFFF;
	color: #FFFFFF;
	font: 12px arial;	font-weight: bold;

	/* Proposed W3C Markup */ 
	background: linear-gradient(top, #FEFEFE, #00649F);    
	/* Mozilla Firefox */ 
	background: -moz-linear-gradient(top, #FEFEFE, #00649F);     
	/* Opera */
	background: -o-linear-gradient(top, #FEFEFE, #00649F);         
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #00649F));        
	/* Webkit (Chrome 11+) */ 
	background: -webkit-linear-gradient(top, #FEFEFE, #00649F); 
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE', EndColorStr='#00649F');         
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE', EndColorStr='#00649F')";        
	/* IE10 */
	background: -ms-linear-gradient(top, #FEFEFE, #00649F);
}


.claro .dijitButtonHover .dijitButtonNode {
	background: none;
	background-color: #00649F;
	border: 1px solid #FEFFFF;
	color: #FFFFFF;
	font: 12px arial;
	font-weight: bold;

	background: linear-gradient(top, #00649F, #FEFEFE);    
	/* Mozilla Firefox */ 
	background: -moz-linear-gradient(top, #00649F, #FEFEFE);     
	/* Opera */
	background: -o-linear-gradient(top, #00649F, #FEFEFE);         
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #00649F), color-stop(1, #FEFEFE));         
	/* Webkit (Chrome 11+) */ 
	background: -webkit-linear-gradient(top, #00649F, #FEFEFE); 
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#00649F', EndColorStr='#FEFEFE');          
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#00649F', EndColorStr='#FEFEFE')";         
	/* IE10 */
	background: -ms-linear-gradient(top, #00649F, #FEFEFE);
	
	
}

.dijitTextBox   { 
	background-color: #E3F1FC !important;
}

.claro .dijitComboBox .dijitButtonNode {
    background-color: #E3F1FC;
}

.checkBoxFormItem {
    margin-left: 14px;
    margin-bottom: 10px;
    margin-right: 0px;
}

.formItem.readOnly label {
	color: #333333;
}

.formItem.readOnly {
	color: #666666;
}


/* ------------------------- FIELD WIDTHS ---------------------------------- */



/* ----------------------- SUBSECTION HEADER ------------------------ */

.subsectionHeader h3, .subsectionWideHeader h3, .subsectionShortHeader h3{
	color: #000000;
	font: bold 12px arial;
}

.subsectionWideHeader h3 {
	border-bottom:1px dotted #00649F;
}

/* -------------------------  PANE ---------------------------- */

.claro .dijitTitlePane .dijitTitlePaneTextNode {
	color: #FFFFFF;
}

.claro .dijitTitlePaneTitleHover {
	background-color: #C0C0C0;
}


/* ------------------------ FIELD LABELS ---------------------------- */

/* ------------------------ Table Containers ---------------------------- */
.formDocumentsTable .tableSubHeader{
	background-color: #F3F3F3;
}

/* ------------------------ Admin Table ---------------------------- */



/* ------------------------ Page Header ---------------------------- */

/* ------------------------- DATA GRIDS  ---------------------------- */

.gridHeader {
	margin-bottom: 10px;
}
.gridHeader a{
    color: #00649F;
}
.gridHeaderTitle {
	color: #00649F;
}

.gridHeaderShowCounts {
	color: #00649F;

}

.gridHeaderShowCountItem:hover {
	color: #E3F1FC;
}

.gridHeaderShowCounts a {
	color: #000000;
}
.gridHeaderShowCounts a:hover {
	color: #E3F1FC;
}

.claro .dojoxGridMasterHeader {
	background: -moz-linear-gradient(top, #C0C0C0, #E6E6E6);
	background: -webkit-gradient(linear, left top, left bottom, from(#C0C0C0), to(#E6E6E6));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0C0C0, endColorstr=#E6E6E6);
}

.claro .dojoxGridCellOver .dojoxGridSortNode ,
.claro .dojoxGridHeader .dojoxGridCellOver {
	background: #E3F1FC;
}

.claro .dojoxGridRowSelected .dojoxGridCell {
	background: #C0C0C0 repeat-x;
	border-top:1px solid #C0C0C0;
	border-bottom:1px solid #C0C0C0;
}
.claro .dojoxGridRowbarOver .dojoxGridRowbarTable {
	background-color: #C0C0C0;
}
.claro .dojoxGridRowbarSelected{
	background-color: #C0C0C0;
}
.claro .dojoxGridRowOver .dojoxGridCell {
	background: #E6E6E6 repeat-x;
	border-top:1px solid #E6E6E6;
	border-bottom:1px solid #E6E6E6;
}
.dj_ie6 .claro .dojoxGridRowOver .dojoxGridCell,
.dj_ie7 .claro .dojoxGridRowOver .dojoxGridCell {
	border-left:1px solid #E6E6E6;
	border-right:1px solid #E6E6E6;
}

.claro .dojoxGridRowOdd .dojoxGridRowTable tr {
	background-color: #E3F1FC;
}

.claro .dojoxGrid a {
	color:#00649F;
}

.gridFooter {
	color: #000000;
	background-color: #FFFFFF;
}

/*-----------------CMA DGRID BRANDING --------------------------*/
.dgrid-header {
	background: -moz-linear-gradient(top, #E6E6E6, #C0C0C0);
	background: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#C0C0C0));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6E6E6, endColorstr=#C0C0C0);

}
.dgrid-header-scroll{
	background: -moz-linear-gradient(top, #E6E6E6, #C0C0C0);
	background: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#C0C0C0));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#E6E6E6, endColorstr=#C0C0C0);

}

.claro .dojoDndItemAnchor, .claro .dojoDndItemSelected {
	background-color: #e7ecf0;
	background-image: none;
	background: transparent;
	background: transparent;
}


.dgrid-header .dgrid-cell:hover {
	background: #E3F1FC;
}

.dgrid-row:hover {
filter: alpha(opacity=100);
opacity: 1.0; 
-moz-opacity: 1.0;
}

.dgrid-row-odd {
	background: #E3F1FC;
	filter: alpha(opacity=100);
	opacity: 1.0; 
	-moz-opacity: 1.0;
}
.dgrid a:hover {
	color: #005597;
}


/* ------------------------- CUSTOMIZATION PAGES  ---------------------------- */


.deleteSelectedItem {
	background-image: url("images/delete_icon.png?v1");
}
.deleteSelectedItem:hover {
	background-image: url("images/delete_icon.png?v1");
}



/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */


/* ------------------------- ANNOUNCEMENT DIALOG   ---------------------------- */


/* ------------------------- ADD OTHER SPECIFIC PAGE STYLES HERE ---------------------------- */

/* ------------------------- Reference data table containers ---------------------------- */


/* ------------------------ Panel Authorisation Table ---------------------------- */


/* ------------------------ Amount Range Table ---------------------------- */



/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */

/* ------------------------- HOME PAGE   ---------------------------- */
#homeAnnounce {
	background-color: #E3F1FC;
	background-image: url("images/announcement_icon.png?v1");
	color: #00649F;
}

#homeAnnounce a {
	color: #00649F;
}


/* ------------------------- OTHER SPECIFIC DIALOG WIDTHS ---------------------------- */

