

/***********************************************************************/
/* Extend this style from default CGI style by importing it.           */
/* With this approach, defect fixes and updates in CGI default         */
/* style is applied to the extended styls with out much changes.       */
/***********************************************************************/

@import url("../default/portalstyle.css?v1"); 

/***********************************************************************/
/* Overwrite CGI default styles or add new styles below that are       */
/* specific to this style.                                             */
/***********************************************************************/

/* ----------------------------------------------------------------- */


body {
		background-color: #FFFFFF; /*White*/
	}
	
/* ------------------------- PAGE LAYOUT ---------------------------- */

/* --- Master Header --- */
.pageHeader {
	background-color: #FFFFFF; /*white*/
	/*todo: add gradient*/
}

/* --- Header Navigation --- */
.pageHeaderNavigation , .pageHeaderNavigationMinimal{
	background-color: #D81E05; /*Scotia Red*/
	/*use menuHighlight instead of commonHighlight - less white at top*/
        /*cquinton 8/9/2012 Rel portal refresh start make dojo references relative*/
	background-image: url("");
        /*cquinton 8/9/2012 Rel portal refresh end*/
	border-top: 1px solid #D81E05; /*Scotia Red*/
	border-bottom: 1px solid #D81E05; /*Scotia Red*/
}


.headerContent,
.headerContentMinimal {
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#FFFFFF), to(#FFFFFF));

	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-radial-gradient(circle, #FFFFFF, #FFFFFF);

	/* Firefox 3.6+ */
	background: -moz-radial-gradient(circle, #FFFFFF, #FFFFFF);
	/* IE 10 */
	background: -ms-radial-gradient(circle, #FFFFFF, #FFFFFF);
}

.parentSubTitle{
	width: 200px; /*brands should make this smaller if less space is available*/
}

.headerActionDivider {
	border-left: 1px dotted #333333;
}

.headerLogout a {
	color: #D81E05 ; /*Scotia Red*/
	background-image: url("");
	height: 15px;
	border-left: 1px dotted #333333;
}

.formContentNoSidebar {
	border: 1px solid #D8D8D8;
}

/*set colors for all menu bar items*/
.megaMenuBarItem, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem {
	background-color: #D81E05;
	/*background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");*/
}

/*selected style*/
.megaMenuBarItem.mmMenuBarItemSelected, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected ,
.mmWrapper .dijitMenuPassive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemHover {
	color: #D81E05;
	background-color: #f8f8f8;
	border: 1px solid #D81E05;;
	padding: 7px 9px 7px;
	margin: -1px 0px -1px 0px;
}

/*hover style*/
.mmWrapper .dijitMenuPassive .dijitMenuItemHover,
.mmWrapper .dijitMenuActive .dijitMenuItemHover, {
	color: #FFFFFF;
	background-color: #BD0606;
	border: 1px solid #D81E05;;
	padding: 7px 9px 7px;
	margin: -1px 0px -1px 0px;
} 

.myLinks, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks {
	color: #D81E05;
	background-color: #FFFFFF;
}

/*the drop down styles*/
.mmDropdown {
	background-color: #f1f1f1;
}

.mmContent ul li a {
	color:#515151;
}
	
.mmContent ul li a:hover {
	color:#D81E05;
}


.sectionLinks a:link, .sectionLinks a:visited,
.navigationLinks a:link, .navigationLinks a:visited  {
	color: #3399CC;
}

.claro .dijitButton .dijitButtonNode {
	color: #515151;

	/* Proposed W3C Markup */
	background: linear-gradient(top, #F9F9F7, #D8D8D8);
	/* Mozilla Firefox */
	background: -moz-linear-gradient(top, #F9F9F7, #D8D8D8);
	/* Opera */
	background: -o-linear-gradient(top, #FEFEFE, #BCBCBB);
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F9F9F7), color-stop(1, #D8D8D8));
	/* Webkit (Chrome 11+) */
	background: -webkit-linear-gradient(top, #F9F9F7, #D8D8D8);
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#F9F9F7', EndColorStr='#D8D8D8');
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#F9F9F7', EndColorStr='#D8D8D8')";
	/* IE10 */
	background: -ms-linear-gradient(top, #F9F9F7, #D8D8D8);
}

.dijitTextBox {
	background-color: #FFFFFF !important;
}

.claro .dijitTextBox{
	border-color: #D8D8D8;
}

.claro .dijitTitlePaneTitle {
	background-color: #FFFFFF;
}

.gridHeaderTitle a {
	color: #666666;
}

.claro .dojoxGridMasterHeader {
	background-color: #FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
 }
	
	
.claro .dojoxGridRowOver .dojoxGridCell, .claro .dojoxGridRowbarOver .dojoxGridRowbarTable {
	background-color: #FFFED5;
}

.claro .dojoxGridRowOdd .dojoxGridRowTable tr {
	background-color: #FFFFFF;
}
				
.claro .dojoxGridCell {
	border:;
	border-left:1px solid transparent;
	border-right:1px solid transparent;
	border-bottom:1px solid #f1f1f1;
}

/*-----------------BNS DGRID BRANDING --------------------------*/
.dgrid-header {
	background-color: #FFFFFF;
	background: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#FFFFFF);
}
.dgrid-row:hover{
	background-color: #FFFED5;
}
.dgrid-row-odd {
	background-color: #FFFFFF;
}
.dgrid-header .dgrid-cell{
	border-bottom:1px solid #f1f1f1;
	border-color: #FFFFFF #BCBCBC #BCBCBC #FFFFFF;
}

/**************************************Images changes******************************/
.add {
  background-image: url("images/add_icon.png?v1");
}

.expandSectionDialog a {
	background-image: url("images/add_icon.png?v1");
	background-position: 0 0;
}

.approve {
  background-image: url("images/approve_icon.png?v1");
}

.attachDocument {
  background-image: url("images/attach_document_icon.png?v1");
  height: 24px;
  width: 20px;
}

.deleteDocument {
  background-image: url("images/delete_icon.png?v1");
  height: 24px;
  width: 20px;
}

.attach {
  background-image: url("images/attach_icon.png?v1");
}

.attachIcon a {
	background-image: url("images/attach_icon.png?v1");
}

.authorizeDelete {
  background-image: url("images/authorize_delete_icon.png?v1");
}

.authorize {
  background-image: url("images/authorize_icon.png?v1");
}

.close {
  background-image: url("images/close_icon.png?v1");
  height: 24px;
  width: 20px;
}

.saveDraftClose {
  background-image: url("images/savedraft_close_icon.png?v1");
  height: 22px;
  width: 24px;
}

.menuBarItemIcon {
	background-image: url("images/collapsible_icon_sprite.png?v1");
	background-position: -2px -5px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 5px;
	width: 12px;
	margin-top: 1px;
	margin-left: 6px;
        /*icon placement a bit off in ie7, so modify it*/
	*vertical-align: middle;
	*margin-top: 2px;
}

.copy {
  background-image: url("images/copy_icon.png?v1");
  height: 24px;
  width: 20px;
}

.criticalDialog .dijitDialogCloseIcon {
	/*a separate image is used for cancel on critical dialogs - color is slightly different*/
	background-image: url("images/criticalDialog_close_default.png?v1");
}

.csv a{
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
	*zoom: 1;
	vertical-align: middle;
	background-image: url("images/csv_sprite.png?v1");
	margin-left: 7px;
}
.csv a:hover {
	background-position: 0px -30px;
}

.deactivate {
  background-image: url("images/deactivate_icon.png?v1");
}

.authorizeDelete {
  background-image: url("images/authorize_delete_icon.png?v1");
}

.delete, .remove{
  background-image: url("images/delete_icon.png?v1");
  width: 20px;
  height: 24px;
}

.deleteSelectedItem {
	display: inline-block;
	float: right;
	background-image: url("images/delete_small_sprite.png?v1");
	background-position: -4px -1px;
	background-repeat: no-repeat;
        width: 16px;
        height: 16px;
	margin: 5px 10px 5px 10px;
	cursor: pointer;
}

.download, .upload{
  background-image: url("images/download_icon.png?v1");
}

.edit {
  background-image: url("images/edit_icon.png?v1");
}

/*cquinton 12/4/2012 use sprite for cleaner rollover*/
.gridHeaderEdit {
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	*zoom: 1;
	vertical-align: middle;
	background-image: url("images/edit_sprite.png?v1");
	margin-left: 7px;
}

.searchHeaderEdit {
	background-image: url("images/edit_sprite.png?v1");
	margin-left: 3px;
}

/*cquinton 12/4/2012 use sprite for cleaner rollover*/
.secondaryNavEdit a {
	background-image: url("images/edit_sprite.png?v1");
	margin-left: 7px;
}

.xls a{
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
	*zoom: 1;
	vertical-align: middle;
	background-image: url("images/excel_sprite.png?v1");
	margin-left: 7px;
}
.xls a:hover {
	background-position: 0px -30px;
}

.secondaryNavHelp a {
	background-image: url("images/help_sprite.png?v1");
	margin-left: 7px;
}

.pageSubHeaderHelp a {
	background-image: url("images/help_sprite.png?v1");
}


/*	Naveen 15-Oct-2012 IR-T36000006427. Added a new class for the "Loading" image- Start	*/
.loadingImageClass {
	display: inline-block;	
	background-repeat: no-repeat;
	height: 15px;
	vertical-align: middle;
	background-image: url("images/loadingAnimation.gif");
	padding-left: 27px;	
}

.headerLogout a {
	display: inline-block;
	color: #ffffff; /*white*/
	background-image: url("images/logout_button.png?v1");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 20px;
	width: 63px;
	line-height: 19px; /*vertical center button text*/
	text-align: center;
}

.headerMessages a {
	background-image: url("images/mail_icon.png?v1");
}

.paginationFirst a {
	background-image: url("images/pagenation1_sprite.png?v1");
}

.paginationPrev a {
	background-image: url("images/pagenation2_3_sprite.png?v1");
}

.paginationLast a {
	background-image: url("images/pagenation4_sprite.png?v1");
}

.pdf a{
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 30px;
	width: 30px;
	*zoom: 1;
	vertical-align: middle;
	background-image: url("images/pdf_sprite.png?v1");
	margin-left: 7px;
}
.pdf a:hover {
	background-position: 0px -29px;
}


.preview {
  background-image: url("images/preview_icon.png?v1");
}

.headerHelp a {
	background-image: url("images/question_icon.png?v1");
	background-position: 0px 2px;
	padding-left: 17px;
}

/*cquinton 12/4/2012 use sprite for cleaner rollover*/
.secondaryNavRefresh a {
	background-image: url("images/refresh_sprite.png?v1");
}

/*cquinton 12/4/2012 use sprite for cleaner rollover*/
.pageSubHeaderRefresh a {
	background-image: url("images/refresh_sprite.png?v1");
}

/*cquinton 12/4/2012 use sprite for cleaner rollover*/
.searchHeaderRefresh {
	background-image: url("images/refresh_sprite.png?v1");
	margin-left: 3px;
}

.reply {
  background-image: url("images/reply_to_bank_icon.png?v1");
}

.getMarketRate{
  background-image: url("images/request_market_rate_icon.png?v1");
}

.route {
  background-image: url("images/route_icon.png?v1");
  height: 20px;
  width: 21px;
}

.saveAs {
  background-image: url("images/saveAs_icon.png?v1");
}

.saveclose {
  background-image: url("images/saveclose_icon.png?v1");
  height: 22px;
  width: 24px;
}


.saveDraft {
  background-image: url("images/savedraft_icon.png?v1");
}

.save {
  background-image: url("images/save_icon.png?v1");
}

.searchButton a {
	background-image: url("images/search_default.png?v1");
}

/*individual icon styles*/
.search {
  background-image: url("images/search_icon.png?v1");
}

.send {
  background-image: url("images/send_to_bank_icon.png?v1");
}

.headerLogo {
	background-image: url("images/brand_logo.png?v1");
	height: 18px;
	width: 131px;
	display: inline;
	float: left;
	margin-top: 23px;
}

.locale_fr_CA .headerLogo {
    background-image: url("images/brand_logo_fr.png?v1");
    height: 18px;
	width: 131px;
	display: inline;
	float: left;
	margin-top: 23px;
}

.headerBrandName {
	background-image: url("images/TradeExpressElitePlus_EN.png?v1");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 18px;
	width: 166px;
	position:relative;
	top: 1px;
	left: -12px;
	display: inline-block;
	float:left;
	}

.locale_fr_CA .headerBrandName {
	background-image: url("images/TradeExpressElitePlus_FR.png?v1");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 18px;
	width: 166px;
	position:relative;
	top: 2px;
	left: 15px;
	display: inline-block;
	float:left;
	}	
	
	.headerTitle {
	font-weight: bold;
	padding-left: 0px;
	display: inline;
	float: left;
	/*do not limit width here as it causes wrapping of org names if they are long *width: 300px;*/
}

.headerSubTitle {
	display: inline-block;
	margin-left: 35px;
	margin-top: 2px;
	*margin-top: 22px;
	*float:left;
}
/**************************************Images changes******************************/
