/*
 * NOTE: all references to external urls from within stylesheets
 * use a manual cache busting mechanism to force browsers to load
 * new content based on a changing url.  Each url has a 
 * parameter in the form of '?v1'.  When the content is changed
 * (i.e. a dependent stylesheet or image changes), the version
 * number should be manually changed to force cache busting to occur.
 * i.e. '?v1' would be updated to '?v2', etc.
*/

/***********************************************************************/
/* Extend this style from default CGI style by importing it.           */
/* With this approach, defect fixes and updates in CGI default         */
/* style is applied to the extended styls with out much changes.       */
/***********************************************************************/

@import url("../default/portalstyle.css?v1"); 

/***********************************************************************/
/* Overwrite CGI default styles or add new styles below that are       */
/* specific to this style.                                             */
/***********************************************************************/

/* ----------------------------------------------------------------- */


body {
	background-color: #FFFFFF; /* white background */
}



/* ------------------------- PAGE LAYOUT ---------------------------- */

/* --- Master Header --- */
.pageHeader {    
	background-color: #FFFFFF; /* white background */
}

/* --- Header Navigation --- */
.pageHeaderNavigationBackground {
	background-color:  #007944;
	background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");
	border-top: 1px solid #595959;
	border-bottom: 1px solid #595959;
	height: 29px;
}

/* ------------------------- Master Header Content ---------------------------- */
.headerContent,
.headerContentMinimal {
	background-color: #FFFFFF;
	background: none;
}

.headerLogo {
	background-image: url("images/LCExpressD_logo.jpg?v1");
/*
	width: 154px;
*/
	margin-top: 10px;
		width: 340px;
		/*height: 32px;*/
}

.headerTitle {
	padding-left: 10px;
}

.headerSubTitle {
	margin-left: 10px;
}

.headerBrandName {
	background-image: none;
	margin-top: 17px;
	display: none;
}

.headerBrandName span {
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	padding-left: 4px;
	padding-top: 2px;
	width: 122px;
	*padding-top: 3px;
}

.parentSubTitle{
	width: 190px; /*brands should make this smaller if less space is available*/
}

.headerBehavior a {
	color: #007944;
}
.headerBehavior a:hover {
	color: #595959;
}

.headerContent,
.headerContentMinimal {
	color: #007944;
}

.headerLogout a {
	color: #ffffff;
	background-image: none;
	/*background-color: #007944;*/

    border-radius: 4px;
    /*padding: 3px 7px;*/
       text-decoration: none;
 background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #009e5a 0%, #017543 60%) repeat scroll 0 0;
    border: 1px solid #018149;
    box-shadow: 0 1px 2px #b2b2b2, 0 0 3px rgba(0, 173, 99, 1) inset;           
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
        position: relative;
    white-space: nowrap; 	
}

.headerLogout a:hover {
	color: #ffffff;
}

/* ------------------------- Master Footer Content ---------------------------- */

/* -------------------------  Form Content ---------------------------- */
.claro .dijitTextBoxError, .claro .dijitTextBoxError .dijitInputContainer {
	background-color: #e6eeed;
}

.formContent {
	background-color: #e6eeed;
}
/* ------------------------- MENU ---------------------------- */
.megaMenuBarItem, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem {
	background-color: #007944;
}

/*selected style*/
.megaMenuBarItem.mmMenuBarItemSelected, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected ,
/*hover style*/
.mmWrapper .dijitMenuPassive .dijitMenuItemHover,
.mmWrapper .dijitMenuPassive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemHover {
	color: #007944;
	background-color: #f3f5f6;
	border-top: 1px none transparent;
	border-right: 1px solid #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}




/*the drop down styles*/
.mmDropdown {
	height: auto;
}

/*menu header divider*/
.mmHeaderDivider {
	border-bottom:1px solid #cccccc;
}

.mmContent ul li a {
	color: #007944;

}
.mmContent ul li a:hover {
	color:#999999;
}

/*menu divider*/
.mmDivider {
	border-bottom:1px solid #cccccc;
}

.myLinks, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks {
	background-color: #007944;
}
.myLinksCategory {
	background-color: #E0EEF9;
}


/* ------------------------- Secondary Navigation -------------------- */
.secondaryNav {
	color: #007944;
}

.secondaryNavLink a {
	color: #007944;
/*	background-image: url("images/sub_navigation_icon_default.png?v1");*/

}
.secondaryNavLink a:hover {
	/*background-image: url("images/sub_navigation_icon_rollover.png?v1");*/
	color: #f3f5f6;
}

/* ------------------------- Page SubHeader -------------------- */

/* ------------------------- Transaction SubHeader -------------------- */
.transactionSubHeader {
	color: #007944;
}
/* ------------------------- ERROR SECTION --------------------------- */

/* ------------------------- DIALOGS --------------------------------- */

/* ------------------------- SIDEBAR --------------------------------- */

/* ------------------------- COMMON ICON STYLES --------------------------------- */

/* ------------------------- COMMON PAGE STYLES --------------------------------- */
.claro .dijitReadOnly{
	color: #007944;
}

.sectionLinks a:link, .sectionLinks a:visited,
.navigationLinks a:link, .navigationLinks a:visited  {
	color: #007944;
 }
.sectionLinks a:hover, .navigationLinks a:hover {
	/*color: #f3f5f6;*/
	color:#999999;
}


.claro .dijitButton .dijitButtonNode {
	color: #ffffff;
	background-image: none;
	/*background-color: #007944;*/

    border-radius: 4px;
    /*padding: 3px 7px;*/
       text-decoration: none;
 background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #009e5a 0%, #017543 60%) repeat scroll 0 0;
    border: 1px solid #018149;
    box-shadow: 0 1px 2px #b2b2b2, 0 0 3px rgba(0, 173, 99, 1) inset;           
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
        position: relative;
    white-space: nowrap; 	
}

.claro .dijitComboBox {
	background-color: #e6eeed;
}

/* ------------------------- FIELD WIDTHS ---------------------------------- */

/* ----------------------- SUBSECTION HEADER ------------------------ */

/* -------------------------  PANE ---------------------------- */

/* ------------------------ FIELD LABELS ---------------------------- */

/* ------------------------ Table Containers ---------------------------- */

/* ------------------------ Admin Table ---------------------------- */

/* ------------------------ Page Header ---------------------------- */

/* ------------------------- DATA GRIDS  ---------------------------- */

.gridHeader a{
    color: #007944;
}
.gridHeaderTitle {
	color: #007944;
}

.gridHeaderShowCounts {
	color: #007944;

}

.gridHeaderShowCountItem:hover {
	color: #595959;
}

.gridHeaderShowCounts a {
	color: #000000;
}
.gridHeaderShowCounts a:hover {
	color: #595959;
}

.claro .dojoxGridMasterHeader {
	background: -moz-linear-gradient(top, #C0C0C0, #E6E6E6);
	background: -webkit-gradient(linear, left top, left bottom, from(#C0C0C0), to(#E6E6E6));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0C0C0, endColorstr=#E6E6E6);
}


.claro .dojoxGrid a {
	color: #007944;
}


.claro .dojoxGridRowOdd .dojoxGridRowTable tr {
	background-color: #f3f5f6;
}


.gridShowCounts {
    color: #007944;
}

/* ------------------------- CUSTOMIZATION PAGES  ---------------------------- */

/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */

/* ------------------------- ANNOUNCEMENT DIALOG   ---------------------------- */

/* ------------------------- ADD OTHER SPECIFIC PAGE STYLES HERE ---------------------------- */

.POLineItems {
	background-color: #e6eeed;
}

/* ------------------------- Reference data table containers ---------------------------- */

/* ------------------------ Panel Authorisation Table ---------------------------- */

/* ------------------------ Amount Range Table ---------------------------- */

/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */

/* ------------------------- HOME PAGE   ---------------------------- */
.homeAnnounce {
	border: 1px solid #cccbcb;
	background-color: #e6eeed;
	color: #007944;
}

.announceMore:hover {
	color: #595959; /*should generalize*/
	cursor: pointer;
}

.claro .dijitTextBox {
    background-color: #e6eeed !important;
}

.dijitTextBox {
	background-color: #e6eeed !important;
}

/* ------------------------- OTHER SPECIFIC DIALOG WIDTHS ---------------------------- */