/**********************************************************************/
/* Default CGI grey style                                             */
/**********************************************************************/
/*
 * NOTE: all references to external urls from within stylesheets
 * use a manual cache busting mechanism to force browsers to load
 * new content based on a changing url.  Each url has a
 * parameter in the form of '?v1'.  When the content is changed
 * (i.e. a dependent stylesheet or image changes), the version
 * number should be manually changed to force cache busting to occur.
 * i.e. '?v1' would be updated to '?v2', etc.
*/

/*Import other style dependencies.*/
/*This will allow build system to create a single file to load.*/
/*First the dojo stylesheets for claro*/
/*cquinton 8/9/2012 Rel portal refresh start make dojo references relative*/
@import url("../../js/dijit/themes/claro/claro.css?v1");
@import url("../../js/dijit/themes/claro/Common.css?v1");
@import url("../../js/dojox/grid/resources/Grid.css?v1");
@import url("../../js/dojox/grid/resources/claroGrid.css?v1");
/*cquinton 8/9/2012 Rel portal refresh end*/

/*Sandeep - Import dgrid.css to override styles for default theam */
@import url("../../js/dgrid/css/dgrid.css?v1");
@import url("../../js/dgrid/css/extensions/ColumnHider.css?v1");

/*Then the branding specific ones*/



/* ----------------------------------------------------------------- */

html {
        /*always display the scrollbar so the page doesn't flicker left/right*/
	overflow-y: scroll;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	background-color: #F0F0F0; /*a lighter grey*/
	font: 11px arial; /*default font for app*/
	margin: 0;
}

body form {
	display: inline;
}


/* ------------------------- PAGE LAYOUT ---------------------------- */

/* --- Master Header --- */
.pageHeader {
	background-color: #C0C0C0; /*cgi light grey*/
	/*todo: add gradient*/
}

/* --- Header Navigation --- */
/*when the menu wraps onto 2nd row we don't want the navigation bar background to wrap
  in order to get this to work, take the navigation background out of the flow*/
.pageHeaderNavigation, .pageHeaderNavigationMinimal {
	background-color: transparent;
	position: relative;
	*zoom: 1;

}
.pageHeaderNavigationBackground {
	background-color: #666666; /*cgi medium grey*/
	/*use menuHighlight instead of commonHighlight - less white at top*/
        /*cquinton 8/9/2012 Rel portal refresh start make dojo references relative*/
	background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");
        /*cquinton 8/9/2012 Rel portal refresh end*/
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;
	height: 28px;
}
.pageHeaderNavigationBackground {
	position: absolute;
	left: 0;
	right: 0;
	z-index: -1; /*put this behind*/
}


/* --- Main Container --- */
.pageMain , .pageMainNoSidebar{
	/*initially hidden and then displayed on load to prevent flash of unstyled content*/
	visibility: hidden;
}

.loaded .pageMain,
.loaded .pageMainNoSidebar {
	visibility: visible;
}

.pageContent {
/*	position: relative;*/
	margin: 0 auto; /*sitepen*/
	height: auto;
	width: 920px; /*sitepen*/
	*zoom: 1;
}

/* --- Master Footer --- */
.pageFooter {
}

/* ------------------------- Master Header Content ---------------------------- */
/* Note: the org and user names in the header when large can cause header displacement.
   To avoid, all of the header components are given an explicit width,
   within which the overflow is cut off.
   For the default brand this is:
     logo: 63px
     margin: 25px
     brandname: 106px
     margin: 35px
     orgnames: 300px
     margin: none explicitly given, becuase this is between left and right floats,
             it is whatever is leftover
     behavior: 370px - this is calculated using 99999 unread mail messages and notifications
     total: 899px - overall width is 920, so this give 21px of margin between header left and right.
   Brands should adjust these as necessary to accomodate branding specific
   widths and placements.
*/

.headerContent,
.headerContentMinimal {
	color: #333333;
	padding-top: 5px;
	padding-bottom: 5px;

	/* fallback */
	background-position: center center;
	background-repeat: no-repeat;

	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#E6E6E6), to(#C0C0C0));

	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-radial-gradient(circle, #E6E6E6, #C0C0C0);

	/* Firefox 3.6+ */
	background: -moz-radial-gradient(circle, #E6E6E6, #C0C0C0);

    /* IE6,IE7,IE8 */
	/* filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#E6E6E6', EndColorStr='#C0C0C0',GradientType=1); */

	/* IE9 */
	/* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#E6E6E6', EndColorStr='#C0C0C0')";  */

	/* IE 10 */
	background: -ms-radial-gradient(circle, #E6E6E6, #C0C0C0);
}

.headerContent {
	height: 60px;
}
.headerContentMinimal {
	height: 45px;
}
.headerNavigationContentMinimal {
	height:33px;
}

.headerLogo {
	background-image: url("images/cgi_logo.png?v1");
	background-repeat: no-repeat;
	height: 42px;
	width: 70px;
	display: inline;
	float: left;
	margin-top: 5px;
}
.headerTitle {
	font-weight: bold;
	padding-left: 25px;
	display: inline;
	float: left;
	/*do not limit width here as it causes wrapping of org names if they are long *width: 300px;*/
}
.brandingError {
	color: red;
	font-size: 16px;
	font-weight: bold;
	padding-top: 5px;
	padding-left: 25px;
	display: inline;
	float: left;
}
.headerBrandName {
	background-image: url("images/cgi_brand_name.png?v1");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 13px;
	width: 106px;
	margin-top: 23px;
	margin-left: 0px;
	display: inline-block;
	float:left;
}
/*headerBrandName displays text if there is a textual brand name.
  if this should not be displayed, use hidden visibility style.
  the other commented out styles here provide an example of
  how to style when textual brand name is desired.*/
.headerBrandName span {
	display: none;
/*
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	padding-left: 4px;
	padding-top: 3px;
*/
}
.headerSubTitle {
	display: inline-block;
	margin-left: 35px;
	margin-top: 2px;
	*margin-top: 22px;
	*float:left;
}
/*the org names are centered on the brand name.
  we use table and table-cell display with vertical-align:middle
  to accomplish. Each brand can modify placement and height to
  center at the appropriate place.  Or if centering behavior
  is not desired, just modify CenteringParent and Child classes
  to set display: inline and height: auto.
  The centering approach doesn't work well in ie7, so we
  just manually center the parent name and let the subsidiary name fall below*/
.headerSubTitleCenteringParent {
        height: 58px;
	display: table;
        *height: auto;
}
.headerSubTitleCenteringChild {
	display: table-cell;
        vertical-align: middle;
}
.parentSubTitle{
	display: inline-block;
	font-size: 14px;
	width: 300px; /*brands should make this smaller if less space is available*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}
.subsidiarySubTitle{
	display: inline-block;
	font-size: 12px;
	width: 300px; /*brands should make this smaller if less space is available*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}
.headerBehavior {
	float: right;
	display: inline;
	width: 370px; /*set the width, in ie8 max-width on headerUserName below causes wrapping*/
}
.headerBehavior a {
	color: #333333;
	text-decoration: none;
}
.headerBehavior a:hover {
	color: #666666;
}
.headerActions {
	display: block;
	font-size: 12px;
	padding-top: 7px;
	padding-bottom: 5px;
	float: right; /*in case name is long, we want this right justified*/
}

.headerSearch {
	display: block;
	float: right;
	font-size: 11px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.headerActionDivider {
	border-left: 1px solid #333333;
	vertical-align: middle;
	*display: inline-block;
}

.headerHome,
.headerHelp,
.headerNotifications,
.headerMessages {
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
}

.headerHelp a ,
.headerNotifications a,
.headerMessages a {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 0px 3px;
	height: 20px;
	padding-left: 25px;
	line-height: 20px;
}

.headerMessages a {
	background-image: url("images/mail_icon.png?v1");
}

.headerNotifications a {
	background-image: url("images/bubble_icon.png?v1");
	padding-left: 21px;
}

.headerHelp a {
	background-image: url("images/question_icon.png?v1");
	background-position: 0px 2px;
	padding-left: 17px;
}
.headerUserName, .headerLastLogin{
	font-weight: bold;
	padding-left: 5px;
	padding-top: 0px;
	vertical-align: middle;
	float: right;
	display: inline-block;
	max-width: 370px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}


.headerLogout {
	margin-left: 5px;
	vertical-align: middle;
}
.headerLogout a {
	display: inline-block;
	color: #ffffff; /*white*/
	background-image: url("images/logout_button.png?v1");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 20px;
	width: 63px;
	line-height: 19px; /*vertical center button text*/
	text-align: center;
}
.headerLogout a:hover {
	color:#cccccc;
}

.headerSearchButton,
.headerSearch .searchItem {
	display: inline;
	vertical-align: middle;
}

/* ------------------------- Master Footer Content ---------------------------- */
.footerContent {
	color: #666666;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 45px;
	font-size: 10px;
	/*initially hidden and then displayed on load to prevent flash of unstyled content*/
	visibility: hidden;
}

.footerContentMinimal {
	height: 45px;
	/*initially hidden and then displayed on load to prevent flash of unstyled content*/
	visibility: hidden;
}

.loaded .footerContent ,
.loaded .footerContentMinimal {
	visibility: visible;
}

.footerDivider {
	width: 100%;
	height: 0px;
	display: block;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #ffffff;
}

.footerLoginInfo {
	float: left;
	padding-top: 10px;
}
.footerCopyright {
	float: left;
	padding-top: 10px;
}
.footerVersion {
	float: right;
	padding-top: 10px;
}

/* -------------------------  Form Content ---------------------------- */

.formContentNoSidebar {
	background-color: #FFFFFF; /*white*/
	border: 1px solid #C0C0C0;
	padding: 10px;
	margin-bottom: 10px;
}
/*some content we want extra sized*/
.formContentNoSidebar.padded{
	padding: 30px;
}
/* if padded is included within, concat them*/
.formContentNoSidebar .padded{
	padding: 20px;
}

.formContentNoSidebar .columnLeft {
      float: left;
      width: 49%;
}
.formContentNoSidebar .columnRight {
      float: right;
      width: 49%;
      padding-left: 8px;
}

.formArea {
	float: left;       /*sitepen*/
	margin-right: 8px; /*sitepen*/
	width: 710px;      /*sitepen*/
	margin-bottom: 10px;
}

.formContent {
	background-color: #FFFFFF; /*white*/
}
/*add this class to formContent if a border is explicitly needed.
  this is typical for pages that do not use collapsible headers*/
.formBorder {
	border: 1px solid #C0C0C0;
}

/*depracated! this is redundant with formContent. todo: remove it from pages*/
.formContentNoBorder {
	background-color: #FFFFFF; /*white*/
	float: left;       /*sitepen*/
	margin-right: 8px; /*sitepen*/
	width: 710px;      /*sitepen*/
/* 	border-right: 1px solid gray; */
	margin-bottom: 10px;
}

.formContent .columnLeft {
	float: left;
	width: 49%;
	border-right: 1px solid #cccccc;
}
/*add noDivider modifier, discontinue use of columnLeftNoBorder*/
.formContent .columnLeft.noDivider {
	border-right: none;
}

.formContent .columnRight {
	float: right;
	width: 49%;
	padding-left: 8px;
}

/*SSikhakolli - Rel-9.4 CR-818 - Introducing new left and right columns to achive UI look and feel per design */
.formContent .columnLeftWithIndent1 {
	float: left;
	width: 54%;
	border-right: 1px solid #cccccc;
}
.formContent .columnRightWithIndent1 {
	float: right;
	width: 44%;
	padding-left: 8px;
}

.formContent .columnLeftWithIndent1NoBorder {
	float: left;
	width: 54%;
}
.formContent .columnRightWithIndent1NoBorder {
	float: right;
	width: 44%;
	padding-left: 8px;
}

.formContent .columnRight.noDivider {
}

/*do not use - use noDivider modifier above*/
.formContent .columnLeftNoBorder {
	float: left;
	width: 49%;
/* 	border-right: 1px solid #cccccc; */
}

/*do not use - use noDivider modifier above*/
.formContent .columnRightNoBorder {
	float: right;
	width: 49%;
	padding-left: 8px;
}


/*deprecated - use .noDivider class above!*/
.formContentNoBorder .columnLeftNoBorder {
	float: left;
	width: 49%;
}

/*deprecated - use .noDivider class above!*/
.formContentNoBorder .columnRightNoBorder {
	float: right;
	width: 49%;
	padding-left: 8px;
}
.formContentNoBorder .columnLeft33NoBorder {
	float: left;
	width: 33%;
}

.formContentNoBorder .columnRight33NoBorder {
	float: right;
	width: 33%;
	padding-left: 8px;
}

/*style links within forms*/
.formContentNoSidebar a, .formContent a {
	color: #333333;
	/*retain underline so user knows its a link*/
}
.formContentNoSidebar a:hover, .formContent a:hover {
	color: #666666;
}

/* ------------------------- MENU ---------------------------- */

.mmWrapper {
	font-size: 11px;
	font-weight: bold;
	/*pass through to navigation area content*/
	background-color: transparent;
	background-image: none;
	border-style: none;
	padding-top: 1px;
	/*do not set height here this needs to wrap if necessary*/
}
/*cquinton 12/4/2012 cleaned up menu styles so ie8 is same as other browsers*/
.megaMenuBar, /*for pre-dojo*/
.mmWrapper .dijitMenuBar {
	font-size: 11px;
	/*pass through to navigation area content*/
	background-color: transparent;
	background-image: none;
	border-style: none;
	white-space: nowrap; /*menu bar as a whole should never wrap*/
	position: relative; /*as long as this div has layout, the menubar wrapper (i.e. internal dojo)
                              is calculated relative to this - see MenuBar.js for more info*/
	*zoom: 1; /*this and inline-block display are necessary for this div to have layout for ie7*/
	*display: inline-block; /*as this contains floats it can't be inline-block for non-ie7 browsers*/

}
/*this background is for those brands that want background just on the menu items themselves, not extending full browser port*/
.megaMenuBarBackground
{
	position: absolute;
	left: 0;
	right: 0;
	z-index: -1;
}

.standardMenuBarItems {
	float: left;
	display: inline-block;
	white-space: normal; /*but standard menu items should wrap*/
}

.standardMenuBarItems.withMyLinks {
	/*the width here causes standard menu items to wrap.
	  it needs to be page width minus mylinks width*/
	width: 800px;
}
/* account for a bit larger mylinks in japanese */
.lang_ja .standardMenuBarItems.withMyLinks {
	width: 790px;
}
/* account for quite larger mylinks in vietnamese */
.lang_vi .standardMenuBarItems.withMyLinks {
	width: 775px;
}


/*set colors for all menu bar items*/
.megaMenuBarItem, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem {
	display: inline-block;
	color: #ffffff;
	background-color: #333333;
	background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");
	background-position: 0px 0px;
	padding: 7px 10px 8px; /*needs to be a tad bigger than font size provided by default*/
	margin: 0px 0px 0px 0px;
	border: 0 none none;
	float: left; /*without this firefox/chrome introduce a space between menu items*/
	white-space: nowrap; /*menu bar items should not wrap*/
}
/*cquinton 12/19/2012 use sprite for cleaner rollover*/
.menuBarItemIcon {
	background-image: url("images/collapsible_icon_sprite.png?v1");
	background-position: -2px -5px;
	background-repeat: no-repeat;
	display: inline-block;
	height: 5px;
	width: 12px;
	margin-top: 1px;
	margin-left: 6px;
        /*icon placement a bit off in ie7, so modify it*/
	*vertical-align: middle;
	*margin-top: 2px;
}

/*selected and hover style*/
.megaMenuBarItem.mmMenuBarItemSelected, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected ,
.mmWrapper .dijitMenuPassive .dijitMenuItemHover,
.mmWrapper .dijitMenuPassive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemHover {
	color: #333333;
	background-color: #f8f8f8;
	border-top: 1px none transparent;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #333333;
	padding: 7px 9px 7px;
	margin: 0px;
}
/*ie doesn't work the same on sizing so do something special*/
.dj_ie .mmWrapper .dijitMenuPassive .dijitMenuItemHover,
.dj_ie .mmWrapper .dijitMenuPassive .dijitMenuItemSelected,
.dj_ie .mmWrapper .dijitMenuActive .dijitMenuItemSelected,
.dj_ie .mmWrapper .dijitMenuActive .dijitMenuItemHover {
	padding-top: 7px;
	padding-bottom: 7px;
	margin: 0px;
}
/* on menu bar item selection or hover change the drop down image too*/
.megaMenuBarItem.mmMenuBarItemSelected .menuBarItemIcon, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected .menuBarItemIcon,
.mmWrapper .dijitMenuPassive .dijitMenuItemHover .menuBarItemIcon,
.mmWrapper .dijitMenuPassive .dijitMenuItemSelected .menuBarItemIcon,
.mmWrapper .dijitMenuActive .dijitMenuItemSelected .menuBarItemIcon,
.mmWrapper .dijitMenuActive .dijitMenuItemHover  .menuBarItemIcon {
	background-position: -2px -13px;
}

/*cquinton 2/4/2013 fix issue with ie8 mylinks image flicker.
  the image is now part of the text node background*/
.myLinks,
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks,
.megaMenuBarItem.myLinks.mmMenuBarItemSelected,
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks.mmMenuBarItemSelected ,
.mmWrapper .dijitMenuPassive .myLinks.dijitMenuItemHover,
.mmWrapper .dijitMenuPassive .myLinks.dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .myLinks.dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .myLinks.dijitMenuItemHover {
	display: inline-block;
	color: #ffffff;
	background-color: #000000;
	background-image: none;
	padding: 5px 10px 5px;
	margin: -1px 0px 0px 0px;
	border: 0px none transparent;
	float: right; 
	white-space: nowrap; /*menu bar items should not wrap*/	
}
/*override the existing ie overrides for mylinks*/
.dj_ie .mmWrapper .dijitMenuPassive .myLinks.dijitMenuItemHover,
.dj_ie .mmWrapper .dijitMenuPassive .myLinks.dijitMenuItemSelected,
.dj_ie .mmWrapper .dijitMenuActive .myLinks.dijitMenuItemSelected,
.dj_ie .mmWrapper .dijitMenuActive .myLinks.dijitMenuItemHover {
	padding-top: 5px;
	padding-bottom: 5px;
	margin: -1px 0px 0px 0px;
}
/*specify the myLinks icon as background.
  this replaces myLinksIcon class - using that in dojo menu caused some issues with ie8.
  note that we can't use a specific class becuase dojo removes it!*/
.myLinks span {
	display: inline-block;
	background-image: url("images/my_links_icon.png?v1");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	padding-left: 25px; /*account for mylinks icon and margin*/
	line-height: 20px; /*large enough for the background image*/
}
/*we override the specific sub-span with dropdown icon*/
.myLinks span.myLinksDropdownIcon {
	display: inline-block;
	background-image: url("images/my_links_dropdown_icon.png?v1");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-color: inherit;
	height: 7px;
	width: 11px;
	padding: 0px;
	margin-left: 2px;
	vertical-align: middle;
	cursor: pointer;
}

/*the drop down styles*/
.mmDropdown {
	background-color: #f8f8f8;
	padding: 8px;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #cccccc;
	height: auto;
}
.claro .dijitContentPane.myLinksDropdown {
	background-color: #f8f8f8;
	padding: 0px;
	border-color: #000000;
	border-style: solid;
	border-width: 3px;
	height: auto;
}
.mmContent {
	font-family: "Arial", Helvetica, sans-serif;
	/*font-size: 0.875em;*/ /*~11pt=15px*/
	font-size: 11px;
	font-weight: normal;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

/*menu items in the header*/
.mmHeaderItems {
}

/*menu header divider*/
.mmHeaderDivider {
	height:0px;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #ffffff;
	margin: 4px 0px 8px 0px ;
}

/*main section*/
.mmMainSection {
	overflow: hidden;
}
/*menu category headings*/
.mmCategory {
	text-transform: uppercase;
	white-space: nowrap; /*menu categories should never wrap*/
	padding: 0px 0px 8px 0px;
}

/*menu items in the main section*/
.mmMainItems {
}
.mmContent ul {
	list-style:none;
	padding:0;
	margin:0;
	line-height:150%;
	overflow: hidden;
}
.mmContent ul li {
	/*width:250px;*/ /*width can be set here to ensure common column width across all menus*/
}
.mmContent ul li a {
	color:#333333;
	text-decoration:none;
	margin-right: 16px;
	white-space: nowrap; /*menu items should never wrap*/
	cursor: pointer;
}
.mmContent ul li a:hover {
	color:#808080;
}

/*menu divider*/
.mmDivider {
	height:0px;
	border-top:1px solid #cccccc;
	border-bottom:1px solid #ffffff;
	margin: 8px 0px;
	padding: 0px;
}

/*menu column styles*/
/*we are currently using a table for menu column layout due to issues with internet explorer*/
.mmContent table {
	padding: 0;
	margin: 0;
	font: inherit;
}
.mmContent table tbody {
	padding: 0;
	margin: 0;
	font: inherit;
}
.mmContent table tr {
	padding: 0;
	margin: 0;
	width: 100%;
	font: inherit;
}
.mmContent table td {
	padding: 0;
	margin: 0;
	height: 100%;
	vertical-align: top;
	font: inherit;
}
/*mmColumnAfter is set if there are additional categories after the current.
 * this is used to specify vertical divider*/
.mmContent table td.mmColumnAfter {
	border-right:1px dotted #cccccc;
	padding-right: 8px;
}
/*mmColumnBefore is set if there are categories before the current.
 * this is used to specify vertical divider*/
.mmContent table td.mmColumnBefore {
	padding-left: 8px;
}

.myLinksCategory {
	text-transform: uppercase;
	font-weight: normal;
}

.myLinksEdit {
	background-image: url("images/settings_icon.png?v1");
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
	margin-top: 4px;
	margin-right: 10px;
	margin-left: 10px;
	display: inline-block;
	vertical-align: middle;
	float: right;
}

.claro .mmContent .dijitTitlePaneTitle {
	border-left: 0px none transparent; /*remove*/
	border-right: 0px none transparent; /*remove*/
}
.claro .mmContent .dijitTitlePaneContentOuter {
	border: 0px none transparent; /*remove*/
}
.claro .mmContent .dijitTitlePaneContentInner {
	padding: 0;
	background-color: #f8f8f8;
}

.myLinksDropdown .mmMainItems {
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 8px;
}


/*menu column styles*/
/*display table should be used for table-like menu styles.
 * this is currently not in use becuase of issues with internet explorer*/
/*
.mmContent .mmTable {
display: table;
padding: 0;
margin: 0;
font: inherit;
}
.mmContent .mmTable .mmRow {
display: table-row;
padding: 0;
margin: 0;
width: 100%;
font: inherit;
}
.mmContent .mmTable .mmCell {
display: table-cell;
padding: 0;
margin: 0;
height: 100%;
vertical-align: top;
font: inherit;
}
.mmContent .mmTable .mmCell.mmColumnAfter {
border-right:1px dotted #cccccc;
padding-right: 8px;
}
.mmContent .mmTable .mmCell.mmColumnBefore {
padding-left: 8px;
}
*/


/*if desired, set specific menu columns a hard width*/
/*to do so would require adding an id to columns*/
/*todo*/



/* ------------------------- Secondary Navigation -------------------- */

.secondaryNav {
	/*background-color: #f0f0f0;*/
	font-weight: bold;
	color: #333333;
	margin: 5px 0 5px 0;
}
.secondaryNavTitle {
	font-size: 14px;
	text-transform: uppercase;
	float: left;
	margin: 5px 0px 5px 0px;  /*put some margin here to allow images at right to be larger*/
}
/* -- Komal PR ANZ Issue No.359 Begins -- */
.secondaryNavTitleCamel {
	font-size: 14px;
	float: left;
	margin: 5px 0px 5px 0px;  /*put some margin here to allow images at right to be larger*/
}
 /* -- Komal PR ANZ Issue No.359 Ends-- */
.secondaryNavLink {
	display: inline;
	float: left;
	padding-left: 17px;
	margin: 6px 0px 5px 0px;
}
.secondaryNavLink.navLinkSelected {
	padding-left: 30px;
	background-image: url("images/sub_navigation_icon_selected.png?v1");
	background-position: 17px 3px;
	background-repeat: no-repeat;
	margin: 6px 0 5px 0px;
}
/*cquinton 12/4/2012 use sprite for cleaner rollover*/
.secondaryNavLink a {
	color: #333333;
	padding-left: 13px;
	display: inline;
	text-decoration: none;
	background-image: url("images/sub_navigation_icon_sprite.png?v2");
	background-position: -2px 2px;
	background-repeat: no-repeat;
}
.secondaryNavLink a:hover {
	background-position: -2px -10px;
}
/* <!-- Komal ANZ Issue No.359 BEGINS --> */
.secondaryNavItem {
	float: left;
	font-size: 14px;
	text-transform: uppercase;
	margin: 5px 0 5px 5px;
}
/* <!-- Komal ANZ Issue No.359 ENDS --> */
.secondaryNav-right {
	float: right;
	position: relative; /*position a bit lower to center*/
	top: 2px;
}
.secondaryNavRefresh {
}
.secondaryNavEdit {
}
.secondaryNavHelp {
	float: right; /*this is just in case pages just use this style, without secondaryNav-right*/
}

.secondaryNavHelp a,
.secondaryNavEdit a ,
.secondaryNavRefresh a {
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
}

/*cquinton 12/4/2012 use sprite for cleaner rollover*/
.secondaryNavRefresh a {
	background-image: url("images/refresh_sprite.png?v1");
}
.secondaryNavRefresh a:hover {
	background-position: 0px -30px;
}
/*cquinton 12/4/2012 use sprite for cleaner rollover*/
.secondaryNavEdit a {
	background-image: url("images/edit_sprite.png?v1");
	margin-left: 7px;
}
.secondaryNavEdit a:hover {
	background-position: 0px -30px;
}
.secondaryNav-right .secondaryNavHelp {
	float: none; /*don't float if wrapper is already*/
}
/*cquinton 12/4/2012 use sprite for cleaner rollover*/
.secondaryNavHelp a {
	background-image: url("images/help_sprite.png?v1");
	margin-left: 7px;
}
.secondaryNavHelp a:hover {
	background-position: 0px -30px;
}

/* ------------------------- Page SubHeader -------------------- */

.subHeaderDivider {
	width: 100%;
	height: 0px;
	display: block;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #ffffff;
}
.pageSubHeader {
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	padding: 10px 0px 10px 0px;
}
.pageSubHeaderItem {
	float: left;
}
.pageSubHeader-right {
	float: right;
}
.uploadPageSubHeaderButton {
	margin-top: -4px;
	margin-bottom: 8px;
	position: relative;

}
/*this class allows buttons to remain in subheader without making it too large*/
.pageSubHeaderButton {
	margin-top: -6px;
	margin-bottom: -4px;
	margin-left: 7px;
}
.pageSubHeader a {
	color: #333333;
	/*ctq 12/18/2012 remove margin so allow for links on left. if necessary add separate class: pageSubHeaderLink*/
	/*margin-left: 13px;*/
	display: inline;
	/*ctq 12/18/2012 should be obvious its a link  text-decoration: none;*/
}
.pageSubHeader a:hover {
	color:#666666;
}
.pageSubHeaderRefresh,
.pageSubHeaderHelp {
	display: inline-block;
	margin-top: -6px;
	margin-bottom: -7px;
	vertical-align: middle;
}
.pageSubHeaderRefresh a,
.pageSubHeaderHelp a {
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
}
/*cquinton 12/4/2012 use sprite for cleaner rollover*/
.pageSubHeaderRefresh a {
	background-image: url("images/refresh_sprite.png?v1");
}
.pageSubHeaderRefresh a:hover {
	background-position: 0px -30px;
}
.pageSubHeaderHelp a {
	background-image: url("images/help_sprite.png?v1");
}
.pageSubHeaderHelp a:hover {
	background-position: 0px -30px;
}
.pageSubHeaderReturn {
}
.pageSubHeaderTitlePane-right {
	float: right;
	margin-right :210px;
}

/* ------------------------- Transaction SubHeader -------------------- */

/*the following are deprecated!!! use pageSubHeader items above*/
.transactionSubHeader {
	font-size: 12px;
	font-weight: bold;
	color: #333333;
	padding: 10px 0px 10px 0px;
	word-wrap: break-word; /*MEer IR-27020 - force word breaks to help with sizing*/

}
.transactionReturn {
	display: inline;
	float: right;
}
.transactionReturn a {
	color: #333333;
	padding-left: 13px;
	display: inline;
	font-weight: normal;
}
.transactionReturn a:hover {
	color:#666666;
}

/* ------------------------- ERROR SECTION --------------------------- */
.errorSection {
}

.infos ,
.errorsAndWarnings {
	border: 1px solid #c0c0c0; /*light grey*/
	padding: 10px;
	margin-bottom: 10px;
	
	/* SSikhakolli - Rel-8.3 Activity# T36000022235 on 10/23/2013 - Making the Error Section Auto Scrollable with fixed height */
	max-height: 200px;
	overflow-y: auto;
}
.errorsAndWarnings {
	background-color: #fffcef;
}
.infos {
	background-color: #f7fff8;
	color: #1f8a2c;
}
.infoText,
.warnText,
.errorText {
	background-repeat: no-repeat;
	padding-left: 28px;
	line-height: 16px; /*set the line-height instead of height to allow for multi-line errors*/
	margin-bottom: 3px;
}

.errorText {
	color: #000000;
	background-image: url("images/error_alert_icon.png?v1");
}
.warnText {
	color: #000000;
	background-image: url("images/warn_alert_icon.png?v1");
}
.infoText {
	background-image: url("images/info_alert_icon.png?v1");
}


/* ------------------------- DIALOGS --------------------------------- */

.claro .dijitDialogTitle {
	display: inline-block;
	padding: 5px;
	white-space: nowrap; /*menu bar should never wrap*/
	font-weight: bold;
	font-size: 12px;
}
.claro .dijitDialogTitleBar {
	/*height: 24px; effecting ie7 back ground color*/
	border: none;
	background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
}
/*RPasupulati adding 'min-width' to dialog as close(x) button should not over lap with title
ANZ-150 IR#T36000018310*/
.claro .dijitDialog{
min-width:200px;	
}
.dj_ie7.claro .dijitDialogTitleBar{
	/*height: 24px; effecting ie7 back ground color*/
	border: none;
	background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");
	padding-top: 5px;
	min-width:auto;
	padding-bottom: 5px;
	padding-left: 5px;
}
.claro .dijitDialog {
	border: 1px solid #666666; /*medium grey*/
}
.claro .dijitDialogCloseIcon {
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 15px;
	width: 16px;
}
.claro .dijitDialogPaneContent {
	border-top: 1px solid #666666; /*medium grey*/
}

.normalDialog .dijitDialogTitleBar {
	background-color: #C0C0C0; /*light grey*/
}
.normalDialog .dijitDialogCloseIcon {
	background-image: url("images/dialog_close_default.png?v1");
}
.normalDialog .dijitDialogCloseIconHover {
	/*background-image: url("images/dialog_close_rollover.png?v1");*/
}

.warningDialog .dijitDialogTitleBar {
	background-color: #C0C0C0; /*light grey*/
}
.warningDialog .dijitDialogCloseIcon {
	background-image: url("images/dialog_close_default.png?v1");
}
.warningDialog .dijitDialogCloseIconHover {
	/*background-image: url("images/dialog_close_rollover.png?v1");*/
}

.criticalDialog .dijitDialogTitleBar {
	background-color: #FFBB48; /*yellow*/
}
.criticalDialog .dijitDialogCloseIcon {
	/*a separate image is used for cancel on critical dialogs - color is slightly different*/
	background-image: url("images/criticalDialog_close_default.png?v1");
}
.criticalDialog .dijitDialogCloseIconHover {
	/*a separate image is used for cancel on critical dialogs - color is slightly different*/
	/*background-image: url("images/criticalDialog_close_rollover.png?v1");*/
}

/*this is the typical dialog content.
  provides a mid size width.
  height is auto determined.*/
.dialogContent {
	width: 500px;
	padding: 10px 8px;
	max-height: 500px;
	overflow-y: auto;
}
/* Srinivasu_D CR-709 Rel8.2 */
.invoiceDialogContent {
	width: 700px;
	padding: 10px 8px;
	max-height: 200px;
	overflow-y: auto;
}

.dialogContent.dialogLoading {
	display: none;
	width: auto;
	height: auto;
}
.claro .dijitDialogPaneContent {
	padding: 0; /*move padding to dialogContent for better control*/
}
/*some dialogs we want extra padded*/
.dialogContent.padded {
	padding: 25px 28px 30px 28px;
}

.dialogContent .instruction {
	padding-bottom: 20px;
}

/*just a bit wider*/
.dialogContent.midwidth {
	width: 700px;
}
/*make it full width of page*/
.dialogContent.fullwidth {
	width: 900px; /*+padding = 920*/
}
/*a special width for itemselect pages (uses customization classes)*/
.dialogContent.itemSelectWidth {
	width: 725px;
}

.dialogFooter {
}
.dialogFooter-right {
	float: right;
}

/*specific dialog styles*/


.claro .dijitPopup {
	background-color: #ffffff; /*white - this replaces transparent for grid popup, etc.*/
}

/* Naveen 02-Sep-2012. IR-T36000004153. Added this new class for Transparent screen issue of Favorite Links and Reports Dialogs */
.favTaskReportDialogContent {
	width: 740px;
	padding: 10px 8px;
	max-height: 600px;
	overflow-y: auto;
}


/*	Naveen 15-Oct-2012 IR-T36000006427. Added a new class for the "Loading" image- Start	*/
.loadingImageClass {
	display: inline-block;
	background-repeat: no-repeat;
	height: 15px;
	vertical-align: middle;
	background-image: url("images/loadingAnimation.gif");
	padding-left: 27px;
}
/*	Naveen 15-Oct-2012 IR-T36000006427. Added a new class for the "Loading" image- End	*/

/* ------------------------- SIDEBAR --------------------------------- */

.formSidebar {
	background-color: #FFFFFF; /*white*/
        /*no top border becuase of the titlepanes*/
	border-left: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	float: right;
	width: 190px;
}

.formSidebarHeader {
        /*by default do not display the header*/
	display: none;
	background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");
	border-top: 1px solid #C0C0C0;
	border-bottom: 1px solid #C0C0C0;
	margin: 0;
	height: 25px;
	background-color: #C0C0C0;
}
/*only display the header if no other sidebar sections*/
.formSidebarHeader.noSidebarSections {
	display: block;
}

/*the sidebar already has borders,padding - remove them here*/
.claro .formSidebar .dijitTitlePaneTitle {
	border-left: 0px none transparent; /*remove*/
	border-right: 0px none transparent; /*remove*/
}
.claro .formSidebar .dijitTitlePaneContentOuter {
	border: 0px none transparent; /*remove*/
}
.claro .formSidebar .dijitTitlePaneContentInner {
	padding: 0;
}


.sidebarDivider {
	height:0px;
	border-top:1px solid #CCCCCC;
	border-bottom:1px solid #FFFFFF;
	margin-top: 8px;
	margin-left: 8px;
	margin-right: 8px;
	padding: 0px;
}

.sidebarButtons {
	margin-left: 6px;
	padding-left: 0px;
}

/* ------------------------- COMMON ICON STYLES --------------------------------- */
/*common icon styles, individuals below -- Uing for Buttons*/
.verify, .attach, .route, .save, .saveclose, .close, .download, .upload, .authorize, .edit,
.authorizeDelete, .approve, .deny, .delete, .remove, .add, .attachDocument, .deactivate, .copy,
.reply, .saveDraft, .saveDraftClose, .send, .saveAs, .deleteDocument, .preview, .search, .getMarketRate, .reject, .view {
  background-repeat: no-repeat;
  background-position: center center;
  width: 18px;
  height: 18px;
  text-align: center;
}

/*individual icon styles*/
.search {
  background-image: url("images/search_icon.png?v1");
}

.copy {
  background-image: url("images/copy_icon.png?v1");
}

.deactivate {
  background-image: url("images/deactivate_icon.png?v1");
}

.preview {
  background-image: url("images/preview_icon.png?v1");
}

.saveAs {
  background-image: url("images/saveAs_icon.png?v1");
}

.send {
  background-image: url("images/send_to_bank_icon.png?v1");
}

.saveDraft {
  background-image: url("images/savedraft_icon.png?v1");
}

.saveDraftClose {
  background-image: url("images/savedraft_close_icon.png?v1");
}

.reply {
  background-image: url("images/reply_to_bank_icon.png?v1");
}

.edit {
  background-image: url("images/edit_icon.png?v1");
}

.authorizeDelete {
  background-image: url("images/authorize_delete_icon.png?v1");
}

.authorize {
  background-image: url("images/authorize_icon.png?v1");
}

.attachDocument {
  background-image: url("images/attach_document_icon.png?v1");
}

.deleteDocument {
  background-image: url("images/attach_document_icon.png?v1");
}

.add {
  background-image: url("images/add_icon.png?v1");
}

.verify {
  background-image: url("images/verify_icon.png?v1");
}

.attach {
  background-image: url("images/attach_icon.png?v1");
}

.route {
  background-image: url("images/route_icon.png?v1");
}

.save {
  background-image: url("images/save_icon.png?v1");
}

.saveclose {
  background-image: url("images/saveclose_icon.png?v1");
}

.close {
  background-image: url("images/close_icon.png?v1");
}

.download, .upload{
  background-image: url("images/download_icon.png?v1");
}

.approve {
  background-image: url("images/approve_icon.png?v1");
}

.deny {
  background-image: url("images/deny_icon.png?v1");
}

.delete, .remove{
  background-image: url("images/delete_icon.png?v1");
}

.getMarketRate{
  background-image: url("images/request_market_rate_icon.png?v1");
}
.reject{
  background-image: url("images/reject_icon.png?v1");
}

.view{
  background-image: url("images/view_icon.png?v1");
}

.attachIcon{
}

.attachIcon a{
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 14px;
	width: 20px;
}

.attachIcon a {
	background-image: url("images/attach_icon.png?v1");
}

/* ------------------------- COMMON PAGE STYLES --------------------------------- */

.instruction {
	font-size: 12px;
}

/*initially the section links section is hidden
  and is displayed when we identify that content exists*/
.sectionLinksSection {
	display: none;
}
.sectionLinksSection.contentExists {
	display: block;
}
.sectionLinksSection #sectionLinksSection_pane {
	overflow-y: auto;
	height: auto;
	max-height: 200px;
}
.sectionLinks, .navigationLinks {
	margin-left: 18px;
	padding-left: 0px;
	margin-top: 11px;
	margin-bottom: 11px;
}

.sectionLinks li , .navigationLinks li{
	list-style: none;
	margin-left: 0px;
	padding: 2px 2px;
	text-indent: -1em;
}

.sectionLinks a:link, .sectionLinks a:visited,
.navigationLinks a:link, .navigationLinks a:visited  {
	color: #333333;
	text-decoration: none;
}

.sectionLinks a:hover, .navigationLinks a:hover {
	color: #666666;
}
.sectionLinks a:link, .navigationLinks a:link  {
	text-decoration: none;
}

.sidebarButtons li {
	list-style: none;
	padding-left: 0px;
	padding-bottom: 5px;
}

.sidebarButtons .dijitButtonNode {
	width: 165px;
	text-align: left;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.fieldValue{
	/*font-weight: bold;*/
	/*adding display-block for when we want just the value, no label*/
	/*padding: 5px 0px;*/
	display: inline-block;
}
.fieldValueWordWrap{
		display: inline-block;
		width:300px;
		word-wrap:break-word;
}

.claro .dijitButton .dijitButtonNode {
	background-color: #C0C0C0;
	border: 1px solid #999999;
	color: #333333;
	font-weight: bold;

	/* Proposed W3C Markup */
	background: linear-gradient(top, #FEFEFE, #BCBCBB);
	/* Mozilla Firefox */
	background: -moz-linear-gradient(top, #FEFEFE, #BCBCBB);
	/* Opera */
	background: -o-linear-gradient(top, #FEFEFE, #BCBCBB);
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #BCBCBB));
	/* Webkit (Chrome 11+) */
	background: -webkit-linear-gradient(top, #FEFEFE, #BCBCBB);
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE', EndColorStr='#BCBCBB');
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE', EndColorStr='#BCBCBB')";
	/* IE10 */
	background: -ms-linear-gradient(top, #FEFEFE, #BCBCBB);
}


.claro .dijitButtonHover .dijitButtonNode {
	/* Proposed W3C Markup */
	background: linear-gradient(top, #BCBCBB, #FEFEFE);
	/* Mozilla Firefox */
	background: -moz-linear-gradient(top, #BCBCBB, #FEFEFE);
	/* Opera */
	background: -o-linear-gradient(top, #BCBCBB, #FEFEFE);
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #BCBCBB), color-stop(1, #FEFEFE));
	/* Webkit (Chrome 11+) */
	background: -webkit-linear-gradient(top, #BCBCBB, #FEFEFE);
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#BCBCBB', EndColorStr='#FEFEFE');
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#BCBCBB', EndColorStr='#FEFEFE')";
	/* IE10 */
	background: -ms-linear-gradient(top, #BCBCBB, #FEFEFE);
}

.claro .dijitButtonDisabled .dijitButtonNode {
	background-color: #000000;
	border: 1px solid #999999;
	color: #818181;

	/* Proposed W3C Markup */
	background: linear-gradient(top, #fefefe, #e0e0e0);
	/* Mozilla Firefox */
	background: -moz-linear-gradient(top, #fefefe, #e0e0e0);
	/* Opera */
	background: -o-linear-gradient(top, #fefefe, #e0e0e0);
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fefefe), color-stop(1, #e0e0e0));
	/* Webkit (Chrome 11+) */
	background: -webkit-linear-gradient(top, #fefefe, #e0e0e0);
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#e0e0e0');
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fefefe', EndColorStr='#e0e0e0')";
	/* IE10 */
	background: -ms-linear-gradient(top, #fefefe, #e0e0e0);
}

.claro .dijitPaneTextNode {
    padding-top: 11px;
}

.dijitTextBox {
	background-color: #FFF8E8 !important;
	font: 11px arial;
        font-weight: normal;
}
.claro .dijitTextBox{
	border-color: #999999;
	text-align:left; /*explicitly setting this fixes some issues with text/select boxes center aligned in chrome table cells*/
}
.claro .dijitTextArea   {
	font-size: 11px;
}

.claro .dijitComboBox .dijitButtonNode {
    background-color: #FFF8E8;
}

.claro .dijitComboBox .dijitArrowButtonInner {
    border: 1px solid #FFF8E8;
    font: 12px arial;
    font-weight: normal;
}

.claro .dijitInputInner {
	color: #333333;
}

.claro .dijitReadOnly{
	/*cquinton 12/7/2012 this is not right - comment out for now*/
	/*background-color: #E6E6E6 !important;*/
	color: #666666;
}

.claro .dijitRadio, .claro .dijitCheckBox{
	margin: 2px 6px;
}

.dijitCheckBox, .dijitRadio {
    padding-right: 3px;
}


.formItem, .formItemWithIndent1, .formItemWithIndent2, .formItemWithIndent3, .formItemWithIndent4, .formItemWithIndent5,.formItemWithIndent6, .formItemButtoninline{
	margin-bottom: 10px;
	margin-right: 0px;
}
.formItem{
	margin-left: 20px;
}
/* Srinivasu_D IR#T36000019515 Rel8.4 01/23/2014 start
*/
.formItemParty{
	margin-left: 1px;
}
.formItem .dijitTextArea.autoHeightPartyTxtAreaQtrWidthNoSidebar {
	width:365px;
	min-height: 70px;	
}
/* Srinivasu_D IR#T36000019515 Rel8.4 01/23/2014 End
*/
.formItemButtoninline{
	margin-left: 16px;
}
.formItemWithIndent1, .formItemWithIndent2{
	margin-left: 45px;
}
.formItemWithIndent2{
	margin-top: -5px;
}
.formItemWithIndent3{
	margin-left: 10px;
}
.formItemWithIndent7{
	margin-left: -5px;
}
.formItemWithIndent4, .formItemWithIndent8{
	margin-left: 30px;
}
.formItemWithIndent5{
	margin-left: 75px;
}
.formItemWithIndent6{
	margin-left: 77px;
}
.formItemWithIndent8{
      margin-top: -5px;
}
/*  KMehta 10/18/2013 CR-910 */
.formItemWithIndent10{
      margin-left: -7px;
}
.attachedDocLabel{
	margin-left: 1px;
	margin-right: 10px;
}

.saveTime{

	text-align: center;
}
.indent {
	margin-left: 20px;
}
.indentHalf {
	margin-left: 10px;
}

.instruction.formItem {
	padding-bottom: 20px;
}
.depricated {
	background-color: orange;
}
.searchItem {
	margin-left: 0px;
	margin-bottom: 10px;
	margin-right: 20px; /*all margin on right*/
	display: inline-block;
	/*vertical-align: middle; we want to align at bottom*/
	*zoom:1;
	*display:inline;
}
.searchItem.minimalSpacing {
	margin-right: 5px;
}
.searchItem.lastSearchItem {
	margin-right: 0px;
}

.searchItem label {
	display: inline-block;
	/*vertical-align: middle;*/
	/*max-width: 10em; by default items should not wrap -- see labelWidth styles for wrapping*/
	/*for multi line labels we want less space between*/
	line-height: 1.2;
	margin-bottom: 4px;
}


.formLine {
	margin-bottom: 5px;
}

label {
	font-weight: normal;
	color: #333333;
	line-height: 20px;
	vertical-align: bottom; /*for multi line labels needs to align at bottom;*/
}
/*add to explicitly single space some freestanding labels*/
label.singleSpaced {
	line-height: 14px;
}

/*use this if you want the label to be right aligned.
this is sometimes necessary when lining up fields with large spacing*/
.label-right {
	text-align: right;
}

/*the following classes are applied to the
  the label associated with radio buttons and
  checkboxes. the styles here causes multi-line labels to wrap correctly --
  but only when paired with an explicit label width
  (passed in to widget factory via labelClass)*/
.radioButtonLabel,
.checkBoxLabel {
	display: inline-block;
	vertical-align: top;
	max-width: 275px; /*this default is set for width of a single form column.
                            to override pass in other modifiers*/
        /*to get single spacing on wrapped text line height set smaller*/
	line-height: 14px;
	margin-top: 3px;
	margin-bottom: 3px;
}
/*Added the below class for ATP Radio button labels	*/
.radioButtonLongLabelInline {
	padding-bottom:1px;
}
/*modifiers for other length*/
.radioButtonLabel.formWidth,
.checkBoxLabel.formWidth {
	max-width: 650px;
}
.radioButtonLabel.shortWidth,
.checkBoxLabel.shortWidth {
	max-width: 170px;
	}
/*RPasupulati Start IR#T36000019348 */
.checkBoxLabel.shortWidth1{
	max-width:165px;
}
/*RPasupulati END IR#T36000019348 */
.radioButtonLabel.shortestWidth,
.checkBoxLabel.shortestWidth {
	max-width: 100px;
}

.searchItem label.radioButtonLabel,
.searchItem label.checkBoxLabel {
	display: inline-block;
	line-height: 20px;
	margin-bottom: 0;
}
.dijitInline{
	white-space:normal;

}
.subLabel {
	/*removed font-size so standard font-size comes through*/
	font-weight: normal;
	color: #333333;
	line-height: 20px;
	vertical-align: middle;
}

.subLabelNarrowLineHight {
	/*removed font-size so standard font-size comes through*/
	font-weight: normal;
	color: #333333;
	line-height: 10px;
	vertical-align: middle;
}

/*SSikhakolli - Rel-9.4 CR-818 - Introducing new bild sub lable to achive UI look and feel per design */
.boldSubLabel {
	/*removed font-size so standard font-size comes through*/
	font-weight: bold;
	color: #333333;
	line-height: 20px;
	vertical-align: middle;
}

.note {
	font-weight:normal;
	color: #888888;
	font-size: 11px;
	font-style:oblique;
	vertical-align: middle;
	display: inline-block; /*this helps when notes are between label and field value*//*not Workin IE 7 */
	line-height: 14px;
	margin-bottom: 1px; /*as does this*/
	*display: inline;/* this will display inline in IE7*/

}
.width300{
	width:300px;
}
.note.columnWidth {
	max-width: 300px;
}
/* Komal added on 16th Dec */
.normalFontLabel {
	font-style:normal;
}

/*SS Rel 9.5 CR 927B*/
.italicFontLabel {
	font-style:italic;
}

.formItem.express checkbox,
.formItem.express label,
.formItem.required label {
	margin-left: -10px;
}
/*cancel it out if readonly*/
.formItem.express.readOnly checkbox,
.formItem.express.readOnly label,
.formItem.required.readOnly label {
	margin-left: 0;
}
/*cancel if a label on a radiobuton*/
.formItem.required label.radioButtonLabel {
	margin-left: 0;
}

.formItem.readOnly label {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #666666;
}

.formItem.readOnly {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	color: #333333;
	margin-top: 3px;
}

.formItem.buttonAction {
	vertical-align: middle;
}
.formItem.linkAction {
	vertical-align: middle;
}
.formItem.linkAction a {
	color: #333333;
}

/*we have to align items a bit differently in ie7*/
.searchItem .dijitTextBox {
	*vertical-align: bottom;
}

/*new formActions for buttons/links directly in a form not really associated with anything*/
.formActions {
	height: 24px; /*explicitly setting makes ie styling easier*/
	margin-bottom: 5px;
	*zoom : 1;
}
.formActions-right {
	float: right;
	*zoom: 1;
}

/* resolve the Dropdwon button border issue in all Browser*/
.claro .dijitMenu .dijitMenuItem td {
  border-style: none;
  padding: 4px;  
}

/* ------------------------- FIELD WIDTHS ---------------------------------- */

.char0{
	width: 2em;
}
.char1,.char2,.char3,.char4,.char5 {
	width: 5em;
}
.char6,.char7,.char8,.char9,.char10 {
	width: 9em;
}
.char11,.char12,.char13,.char14,.char15 {
	width: 13em;
}
.char16,.char17,.char18,.char19,.char20 {
	width: 16em;
}
.char21,.char22,.char23,.char24,.char25 {
	width: 19em;
}
.char26,.char27,.char28,.char29,.char30 {
	width: 22em;
}
.char31,.char32,.char33,.char34,.char35 {
	width: 25em;
}
.char36,.char37,.char38,.char39,.char40 {
	width: 35em;
}
.char45{
	width:42em;
}
.char22em{
width: 20em;
}
.char7em{
width: 7em;
}
/*this is the max width of a field on a form page.
  specify it manually. i.e. width=\"MaxForm\"*/
.charFormWidth {
	width: 644px;
}
.char35em{
width: 30em;
}


.formItem .dijitTextArea {
    width: 87%;
	resize: none;
}
/*so we can line up with charFormWidth text boxes above*/
.formItem .textAreaFormWidth {
	width: 640px;
}
/*this class should be used for autosizing textareas
  that use quarter of full form width ( no sidebar)*/
.formItem .dijitTextArea.autoHeightTxtAreaQtrWidthNoSidebar {
	width:310px;
	min-height: 70px;
}

.formItem .dijitTextArea.buyerAutoHeightTxtAreaQtrWidthNoSidebar {
	width:310px;
	min-height: 70px;
	margin-left: -18px;

}

.formItem.currency .dijitTextBox {
	width: 5em;
}

.formItem {
	vertical-align: bottom;
}

.formItem.newLine,
.formItem.inline {
	float: left;
}


/* ----------------------- SUBSECTION HEADER ------------------------ */

.subsectionHeader, .subsectionWideHeader, .subsectionShortHeader, .subsectionShortestHeader, .subsectionWiderHeader, .subsectionWidestHeader{
	height: 40px;
}

.subsectionHeader h3, .subsectionWideHeader h3, .subsectionShortHeader h3,.subsectionShortestHeader h3, .subsectionWiderHeader h3, .subsectionWidestHeader h3 {
	margin-bottom: 5px;
	margin-left: 10px;
	color: #333333;
	font: bold 11px arial;
	line-height: 20px;
	padding-left: 5px;
	border: 1px solid #999999;
	display: inline-block;
	vertical-align: middle;
	zoom: 1;
	*display: inline;

	/* Proposed W3C Markup */
	background: linear-gradient(top, #FEFEFE, #BCBCBB);
	/* Mozilla Firefox */
	background: -moz-linear-gradient(top, #FEFEFE, #BCBCBB);
	/* Opera */
	background: -o-linear-gradient(top, #FEFEFE, #BCBCBB);
	/* Webkit (Safari/Chrome 10) */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #BCBCBB));
	/* Webkit (Chrome 11+) */
	background: -webkit-linear-gradient(top, #FEFEFE, #BCBCBB);
	/* IE6,IE7,IE8 */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE', EndColorStr='#BCBCBB');
	/* IE9 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE', EndColorStr='#BCBCBB')";
	/* IE10 */
	background: -ms-linear-gradient(top, #FEFEFE, #BCBCBB);
}

.subsectionHeader h3 {
	/*width: 280px;*/
	width: 92%; /*to accomodate larger clear icon*/
}

.subsectionWideHeader h3 {
	width: 89%;
}

.subsectionShortHeader h3 {
	/*width: 250px;*/
	width: 85%; /*to accomodate larger clear icon*/
}

.subsectionShortestHeader h3{
	width: 75%;
}
.subsectionWiderHeader h3{
	width: 93%;
}
.subsectionWidestHeader h3{
	width: 97%;
}

.subsectionHeader.required h3, .subsectionShortHeader.required h3, .subsectionShortestHeader h3,.subsectionWiderHeader.required h3, .subsectionWidestHeader.required h3,.subsectionWideHeader.required h3{
	margin-left: 5px;
}
.subsectionHeader.express h3, .subsectionShortHeader.express h3, .subsectionShortestHeader h3,.subsectionWiderHeader.express h3, .subsectionWidestHeader.express h3,.subsectionWideHeader.express h3{
	margin-left: 5px;
	}

.clearButton,
.searchButton {
	display: inline-block;
	vertical-align: middle;
	margin-left: 4px;
	position: relative;
	top: 3px; /*this assumes standalone against text box.
                    if textbox has a stacked label put in a div with
                    a br tag*/
	zoom: 1;
}
.formItem .clearButton,
.formItem .searchButton {
	top: 1px; /*if part of a text box, needs to be a bit higher*/
}
.subsectionHeader .clearButton,
.subsectionHeader .searchButton,
.subsectionShortHeader .clearButton,
.subsectionShortHeader .searchButton,
.subsectionShortestHeader .clearButton,
.subsectionShortestHeader .searchButton,
.subsectionWideHeader .clearButton,
.subsectionWideHeader .searchButton,
.subsectionWiderHeader .clearButton,
.subsectionWiderHeader .searchButton,
.subsectionWidestHeader .clearButton,
.subsectionWidestHeader .searchButton{
	top: 4px;
	*top: -3px;
}
.clearButton a,
.searchButton a {
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}
.searchButton a {
	background-image: url("images/search_default.png?v1");
}
.clearButton a {
	background-image: url("images/cancel_icon_default.png?v1");
}

.asterisk {
	color: #ED1C24;
	font-size: 14px;
}
.hashMark{
	color:#32CD32;
	font-size: 14px;
}
.isExpressText{
	color:#32CD32;
}
/* Nar CR-966 Rel 9.2 09/16/2014 */
.isFixedTemplateText{
	color:#0000FF;
}

/* -------------------------  PANE ---------------------------- */

.claro .dijitTitlePane .dijitTitlePaneTextNode {
	color: #333333;
	font: bold 11px Arial;
	vertical-align: middle;
}

.claro .dijitTitlePaneTitle {
	background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");
	background-color: #C0C0C0;
	border: 1px solid #C0C0C0;
	/*min-height: 30px;*/
}

.claro .dijitTitlePaneTitleHover {
	background-color: #EFEFEF;
	border: 1px solid #C0C0C0;
}

.dijitTitlePaneTitle .dijitArrowNode {
	float: right;
	margin-top: 6px;
}

/*remove arrow dropdown on non-toggleable titlepanes*/
.section.noToggle.dijitTitlePane .dijitArrowNode {
  background-image: none;
  height: 0px;
  width: 0px;
}

.dijitTitlePaneContentInner:after {
		display: block;
		content: '';
		clear: both;
}

.dijitTitlePaneContentInner {
	*zoom: 1;
}


/* ------------------------ FIELD LABELS ---------------------------- */


.formItem.required label:before {
	color: #ED1C24;
	content: '*';
	font-size: 14px;
	padding-right: 5px;
}
.requiredAstrickWithOutFormItem label:before{
	color: #ED1C24;
	content: '*';
	font-size: 14px;
	padding-right: 5px;
}

/*cancel it out if readonly*/
.formItem.required.readOnly label:before {
	content: normal;
}
/*cancel if a label on a radiobuton*/
.formItem.required label.radioButtonLabel:before {
	content: normal;
}

.formItem.express label:before {
	color: #32CD32;
	content: '#';
	font-size: 11px;
	padding-right: 4px;

}

.formItem.express dijitCheckBox:before {
	color: #32CD32;
	content: '#';
	font-size: 11px;
	padding-right: 4px;
}

.formItem.required label {
	*zoom: expression(this.el || (this.runtimeStyle.zoom = "1",
		this.insertBefore ( this.el = document.createElement ( "span"),	this.firstChild ).style.cssText="padding-right:5px;display:inline-block;color:#ED1C24;font-size:14px",
		el.innerHTML="*" ) );

}
.formItem.readOnly.express label {
	*zoom: expression(this.el || (this.runtimeStyle.zoom = "1",
		this.insertBefore ( this.el = document.createElement ( "span"),	this.firstChild ).style.cssText="padding-right:5px;display:inline-block;color:#32CD32;font-size:14px",
		el.innerHTML="#" ) );

}
/*cancel it out if readonly*/
.formItem.required.readOnly label {
	*zoom: 1;
}
/*cancel if a label on a radiobuton*/
.formItem.required label.radioButtonLabel {
	*zoom: 1;
}


.formItem.express label {
	*zoom: expression(this.el ||( this.runtimeStyle.zoom = "1",
		this.insertBefore ( this.el = document.createElement ( "span"),	this.firstChild ).style.cssText="color:#32CD32;font-size:14px",
		el.innerHTML="#" ) );
}
/*cancel it out if readonly*/

.formItem.requiredNoLabel:before {
	color: #ED1C24;
	content: '*';
	font-size: 14px;
	padding-right: 5px;
	margin-left: -13px;
}
/*cancel it out if readonly*/
.formItem.requiredNoLabel.readOnly:before {
	content: normal;
}

/* ------------------------ Table Containers ---------------------------- */

.formDocumentsTable {
	border-spacing: 0;
	*zoom: expression(this.runtimeStyle.zoom = "normal", this.cellSpacing = 0);
	width: 100%;
	font: 11px arial;
	border-color: #909090;
	border-style: solid;
	border-width: 0 0 1px 1px;
}

.payMgmtCheckBoxLabel {
	margin-left: 1px;

}
/* Srinivasu_D CR-599 Rel8.4 11/23/2013 - Start */
.formPaymentDocumentsTable {
	border-spacing: 0;
	*zoom: expression(this.runtimeStyle.zoom = "normal", this.cellSpacing = 0);
	width: 100%;
	font: 11px arial;
	border-color: #909090;
	border-style: solid;
	border-width: 0 1px 1px 1px;

}
.formPaymentDocumentsTable a {
    color: inherit;
}

.formPaymentDocumentsTable th, .formPaymentDocumentsTable tr, .formPaymentDocumentsTable td, .formPaymentDocumentsTable .tableSubHeader{
	border-color: #909090;
	border-style: solid;
	border-width: 1px 0 0 0;
	padding: 0.3em 0.5em;
}

.formPaymentDocumentsTable .paymentCol1 {
   	border-color: #909090;
	border-style: solid;
	border-width: 1px 1px 0 0;
	padding: 0.3em 0.5em;
}
/* Srinivasu_D CR-599 Rel8.4 11/23/2013 - End */
.formDocumentsTable a {
    color: inherit;
}

.formDocumentsTable th, .formDocumentsTable tr, .formDocumentsTable td, .formDocumentsTable .tableSubHeader{
	border-color: #909090;
	border-style: solid;
	border-width: 1px 1px 0 0;
	padding: 0.3em 0.5em;
}
.tableSubHeaderWithOutBold{
	background-color: #f0f0f0; /*sub header color is lighter than standard header*/
	text-align: left;
}
.formDocumentsTable th {
	background-color: #C0C0C0;
	font-weight: bold;
	text-align: center;
}
.formDocumentsTable th.headingLeft {
    text-align: left;
}

.formDocumentsTable .tableSubHeader{
	background-color: #f0f0f0; /*sub header color is lighter than standard header*/
	font-weight: bold;
	text-align: left;
}
.formDocumentsTable .tableSubHeader.withCheckBoxColumn{
	padding-left: 46px;
}

.formDocumentsTable thead th {
	border-top-width: 1px;
	background-color: #C0C0C0;
	font-weight: bold;
	border-color: #909090;
}

.formDocumentsTable tfoot td {
	text-align:left;
	background-color: #C0C0C0;
	font-weight: bold;
}

.formDocumentsTable .genericCol {
    text-align: left;
}

.formDocumentsTable .amountCol {
    text-align: right;
}

.tableTextShortIndent {
	margin-left: 15px;
}
.tableTextShortestIndent {
	margin-left: 6px;
}


.spanTable{
	display: table;
	height: 40px;
	margin-left: 30px;
	margin-bottom: 10px;
}
.spanRow{
	display: table-row;
}
.spanCol{
	display: table-cell;
	vertical-align: middle;
	border:1px solid black;
}
.spanTable .spanHeader{
	background-color: #cccccc;
}
.spanHeaderTabel{
	background-color: #cccccc;
	font-weight: bold;
}
.formDocumentsCCTable {
	border-spacing: 0;
	*zoom: expression(this.runtimeStyle.zoom = "normal", this.cellSpacing = 0);
	width: 100%;
	font: 11px arial;
	background-color: #f0f0f0;
	border-color: #909090;
	border-style: solid;
	border-width: 0 0 0px 1px;
}

/* ------------------------ Admin Table ---------------------------- */

.formAdminTableCenter{
text-align:center;
}

/* ------------------------ Page Header ---------------------------- */

.page-header {
	list-style: none;
	margin: 30px auto 0px auto;
	width: 920px;
	height: 35px;
	padding-top: 5px;
	background: #d2d2d2;
	border: 1px solid black;
}

.page-header .inline-title {
	display: inline;
	margin: 1px;
	background: #d2d2d2;
}

.page-header .inline-link {
	display: inline;
	margin: 1px;
}

.page-header .inline-button {
	float: right;
	font-weight: bolder;
	/*vertical-align: middle;
	padding-bottom: 10px; */
}

.title-left {
	right: 50%;
	float: left;
}

.title-right {
	float: right;
	padding-right: 5px;
}

/* ------------------------- DATA GRIDS  ---------------------------- */

.gridHeader {
	height: 24px; /*explicitly setting makes ie styling easier*/
	margin-bottom: 5px;
	*zoom : 1;
}
.gridHeaderTitle {
	color: #333333;
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	margin-top: 5px;
	float: left;
}
.gridHeaderTitle a {
	color: #333333;
	text-decoration:none;
}
.gridHeaderTitle a:hover {
	color: #666666;
}
.gridHeader-right {
	float: right;
	*zoom: 1;
}
.gridHeader-right:after {
	display: block;
	content: '';
	clear: both;
}

/*cquinton 12/4/2012 use sprite for cleaner rollover*/
.gridHeaderEdit {
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	*zoom: 1;
	vertical-align: middle;
	background-image: url("images/edit_sprite.png?v1");
	margin-left: 7px;
}
.gridHeaderEdit:hover {
	background-position: 0px -30px;
}

.gridHeaderShowCounts {
	color: #333333;
	font-size: 11px;
	padding-left: 20px;
	display: inline-block;
}
.gridHeaderShowCountItem {
	cursor: pointer;
	text-decoration: underline;
}
.gridHeaderShowCountItem.selected {
	cursor: auto;
	text-decoration: none;
}

.gridHeaderShowCounts a {
	color: #333333;
}
.gridHeaderShowCountItem:hover ,
.gridHeaderShowCounts a:hover {
	color: #666666;
}

.searchHeader {
	*zoom: 1; /*fixes a formatting issue with ie7*/
}
.searchHeaderCriteria {
	float: left;
}
.searchHeaderActions {
	float: right;
	margin-top: -2px;
	margin-bottom: 4px;
}

.gridShowCounts {
	color: #333333;
	font-size: 11px;
	margin-left: 20px;
	display: inline-block;
}
.gridShowCountItem {
	cursor: pointer;
	text-decoration: underline;
}
.gridShowCountItem.selected {
	cursor: auto;
	text-decoration: none;
}
.gridShowCountItem:hover {
	color: #666666;
}
/*below negates hover changes for selected item*/
.gridShowCountItem.selected:hover {
	color: #333333;
}

.searchHeaderButton {
	margin-left: 3px;
	*margin-left: 6px; /*ie7needs a bit more*/
}
.searchHeaderEdit,
.searchHeaderRefresh {
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	cursor: pointer;
	vertical-align: middle;
	*zoom: 1;
}

/*cquinton 12/4/2012 use sprite for cleaner rollover*/
.searchHeaderRefresh {
	background-image: url("images/refresh_sprite.png?v1");
	margin-left: 3px;
}
.searchHeaderRefresh:hover {
	background-position: 0px -30px;
}
.searchHeaderEdit {
	background-image: url("images/edit_sprite.png?v1");
	margin-left: 3px;
}
.searchHeaderEdit:hover {
	background-position: 0px -30px;
}
.searchDivider {
	width: 100%;
	height: 0px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #ffffff;
	margin-bottom: 10px;
	*height: 2px; /*ie7 tries to continually resize without this - do not remove!*/
}
.searchDetail {
	*zoom: 1; /*this fixes an ie7 issue with sizing of the search detail*/
}
.searchCriteria {
	float: left;
}
.searchActions {
	float: right;
	margin-top: -5px;
}
/*special class that helps position search actions when the critiera has
  labels that wrap*/
.searchActions.for2LineLabelCriteria {
	margin-top: 6px;
}
.gridSearchButton {
}
.searchTypeToggle {
	display: block; /*place below search button*/
	text-align: center;
	margin-bottom: -8px; /*fit within existing searchDetail*/
	*margin-bottom: 0; /*todo: above does not work in ie7*/
}
/*when the last search detail, we need some extra space*/
.searchDetail.lastSearchDetail .searchTypeToggle {
	margin-bottom: 7px;
	/* not sure how to get ie to not have extra line... margin-bottom: -7px;*/
}

/*increasing font size on the grid selection area centers radiobutton and checkboxes
  and also allows the hover/selected fill to be large enough to fill the whole area*/
.dojoxGridView {
	font-size: 14px;
}
/*this cancels it out for text*/
.dojoxGridRow,
.dojoxGridRowTable { /*accounts for lazytreegrid*/
	font-size: 11px;
}

/*do not allow any grid rows to wrap*/
.dojoxGridView .dojoxGridCell {
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}
/*special nowrap wrapper style for ie7*/
.nowrap {
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
}

.claro .dojoxGridMasterHeader {
	/*background: url("images/header.png?v1") #C0C0C0 repeat-x bottom; */
	background-color: #C0C0C0;
	background: -moz-linear-gradient(top, #FEFEFE, #BCBCBB);
	background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#BCBCBB));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFEFEFE, endColorstr=#FFBCBCBB);
}


.claro .dojoxGridRowbar {
	background-color: #ffffff;
	border-right: 1px solid transparent;
}
.claro .dojoxGridRowbarTable {
	background-image: none;
}
/*-- Prateep IR#T36000025322-----*/
.claro .dojoxGridHeader .dojoxGridCell {
	border-color: #FFFFFF #BCBCBC #BCBCBC #FFFFFF;
}
.claro .dojoxGridCellOver .dojoxGridSortNode ,
.claro .dojoxGridHeader .dojoxGridCellOver {
	background: #d0d0d0;
}

.claro  .dojoxGridRowbarTable .dijitCheckBoxChecked {
	background-color: inherit; /*we want to pick up hover, selected styles!*/
	border-top: none;
	border-bottom: none;
}

/*.claro .dojoxGridRowbarOver .dojoxGridRowbarTable ,*/
.claro .dojoxGridRowbarInner{
	/*background-color: inherit;*/
	/*border-top: none;*/
	border-style: none;
}

.claro .dojoxGridRowOver .dojoxGridCell,
.claro .dojoxGridRowbarOver .dojoxGridRowbarTable {
	background-image: url("../../js/dojox/grid/resources/images/row_back.png?v1");
	background-position: 0 -2px; /*fudge up so we don't have white line at top*/
	background-color: #d0d0d0; /*not too dark*/
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
}

/*selected should be after over so over doesn't override.
  also add concatenation (selected and over) for good measure*/
.claro .dojoxGridRowSelected .dojoxGridCell,
.claro .dojoxGridRowSelected.dojoxGridRowOver .dojoxGridCell {
	background-image: none;
	background-color: #d0d0d0; /*not too dark*/
	border-top:1px solid #d0d0d0;
	border-bottom:1px solid #d0d0d0;
}
.claro .dojoxGridRowbarSelected,
.claro .dojoxGridRowbarSelected.dojoxGridRowbarOver .dojoxGridRowbarTable {
	background-color:#d0d0d0; /*not too dark*/
	background-image: none;
	border-right:1px solid transparent;
}

/*todo: not sure why ie7 rows color in dojo is not consistent, try to remove this*/
.dj_ie6 .claro .dojoxGridRowOver .dojoxGridCell,
.dj_ie7 .claro .dojoxGridRowOver .dojoxGridCell {
	border-left:1px solid #fffcef;
	border-right:1px solid #fffcef;
}

.claro .dojoxGridRowOdd .dojoxGridRowTable tr {
	background-color: #FFF8E8;
}

.claro .dojoxGridCell {
	border:1px solid transparent;
}
/*-- Prateep IR#T36000025322-----*/
.claro .dojoxGrid .dojoxGridMasterView .dojoxGridCell {
	border-color: transparent;
}
.claro .dojoxGridCellFocus {
	outline: none;
	border: 1px solid transparent !important;
}
/*ie7 requires a bit more fudging on the focused cell*/
.dj_ie6 .claro .dojoxGridCellFocus,
.dj_ie7 .claro .dojoxGridCellFocus {
	border-top: 1px solid #d0d0d0 !important;
	border-bottom: 1px solid #d0d0d0 !important;
	border-left:1px solid #fffcef;
	border-right:1px solid #fffcef;
}

.claro .dojoxGrid a ,
.claro .dojoxGrid {
	color:#333333;
}

.claro .dojoxGrid a:hover {
	color: #666666;
}

/*provide default styles for form type grid*/
.claro .formContent .dojoxGrid,
.claro .formContentNoSidebar .dojoxGrid {
	height: 500px;
}
/*provide default styles for dialog type grid*/
.claro .dialogContent .dojoxGrid {
	height: 300px;
}

.gridFooter {
	height: 30px;
	padding: 5px 25px;
	background-color: #f0f0f0;
	font-size: 11px;
	border-right: 1px solid #DBDBDB;
	border-bottom: 1px solid #DBDBDB;
	border-left: 1px solid #DBDBDB;
}

.gridFilter { /* Usefull for grid header */
	font-size: 11px;
	/* the grid filter is suppose to be white.
           it will inherit value of the formContent.
        background-color: #E7E7E7; */ /* light grey */
}

.gridFooterAction {
	padding-right: 10px;
	float: left;
}

.gridSelectedCount {
	float: left;
	padding: 7px 0px;
}

.gridTotalCount {
	float: right;
	padding: 7px 0px;
}
/* Dojo 1.9 upgrade issue IR T36000023705 */
.dojoxGridCell.gridColumnRight , .gridColumnRight {
	text-align: right;
}

.gridColumnCenter {
	text-align: center;
}

/* ------------------------- CUSTOMIZATION PAGES  ---------------------------- */
.customizationColumn1 {
	width: 387px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding-right: 10px;
	border-right: 1px solid #cccccc;
}
.customizationColumn2 {
	width: 280px;
	/*leave left margin zero for float space*/
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: right;
}
/*float left if in dialog so handles scrolling better*/
.dialogContent .customizationColumn2 {
	float: left;
	margin-left: 10px;
}

.customizationItemsHeader {
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 10px;
}
.availItemsSection {
	margin-bottom: 10px;
}
.selectedItemsSection {
	margin-bottom: 10px;
}
.claro .customizationColumn1 .dijitTitlePaneContentOuter {
	border-bottom: 0px none transparent; /*remove*/
}
.claro .customizationColumn1 .dijitTitlePaneContentInner,
.claro .customizationColumn2 .dijitTitlePaneContentInner {
	padding: 0; /*remove padding so we can put put in border style*/
}
.claro .dijitNoTitlePaneContentOuter {
	border-top: 1px solid #B5BCC7;
}
.availItemSubHeader {
	font-size: 12px;
	color: #333333;
	font-weight: bold;
	padding: 0;
	border-bottom: 1px solid #c0c0c0;
}
.expandSectionDialog,
.collapseSectionDialog {
	display: inline-block;
	width: 45px;
	text-align: center;
	padding: 6px 0;
}
.expandSectionDialog a,
.collapseSectionDialog a {
	display: inline-block;
	background-repeat: no-repeat;
	height: 9px;
	width: 9px;
}
.expandSectionDialog a {
	background-image: url("images/add_icon.png?v1");
	background-position: 0 0;
}
.collapseSectionDialog a {
	background-image: url("images/minus_icon.png?v1");
	background-position: 0 3px;
}
.availItemSubHeaderTitle {
	display: inline-block;
	padding: 5px 10px 5px 10px;
}
.availItem {
	padding: 0;
	border-bottom: 1px solid #c0c0c0;
}
.availItemSelect {
	display: inline-block;
	width: 45px;
	text-align: center;
	padding: 3px 0;
	border-right: 1px solid #c0c0c0;
}
.availItemDesc {
	display: inline-block;
	padding: 5px 10px 5px 10px;
}
.selectedItem {
	padding: 0;
	border-bottom: 1px solid #c0c0c0;
}
.selectedItemOrder {
	display: inline-block;
	padding: 3px 10px 3px 10px;
	border-right: 1px solid #c0c0c0;
	float: left;
}
.selectedItemOrderTextBox {
	width: 3em;
}
.selectedFavItemOrder {
      display: inline-block;
      padding: 10px 10px 10px 10px;
      border-right: 1px solid #c0c0c0;
      float: left;
}
.selectedItemDesc {
	display: inline-block;
	padding: 5px 10px 5px 10px;
	float: left;
}
.selectedFavItemDesc {
	display: inline-block;
	padding: 5px 10px 5px 10px;
	float: left;
	white-space: normal;
    width: 166px;
}
/*cquinton 12/4/2012 use sprite for cleaner rollover*/
.deleteSelectedItem {
	display: inline-block;
	float: right;
	background-image: url("images/delete_small_sprite.png?v1");
	background-position: -4px -1px;
	background-repeat: no-repeat;
        width: 16px;
        height: 16px;
	margin: 5px 10px 5px 10px;
	cursor: pointer;
}
.deleteSelectedItem:hover {
	background-position: -4px -24px;
}
.selectedItemsFooter {
	height: 16px;
	padding: 7px 10px 7px 10px;
	background-color: #f0f0f0;
}
.selectedItemsTotalCount {
	float: right;
}
.customizationAction {
	/*we want action buttons on the left - float: right;*/
}


/* ------------------------- GRID CUSTOMIZATION POPUP --------------------------- */
.dijitContentPanePopup {
	border: 1px solid #c0c0c0;
}
.popupContent {
	maxHeight: 100px;
	margin: 3px;
}
.gridCustAction {
	color: #333333;
	/*text-decoration: underline;*/
	cursor: pointer;
	margin-bottom: 3px;
}
.gridCustAction:hover {
	color: #666666;
}
.gridCustDivider {
	width: 100%;
	height: 0px;
	display: block;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #ffffff;
}
.gridCustColumnHeader {
	color: #333333;
	margin-top: 3px;
	margin-bottom: 3px;
}
.gridCustColumn {
}
.gridCustColumn.formItem {
	margin: 0;
}




/* ------------------------- Reference data table containers ---------------------------- */
/* ----Prateep Gedupudi Modifying the following code as Scrollbar issue ------- */

.scrollableTable
{
	width:690px;
	height:200px;
	overflow:scroll;
	/* border-bottom: 1px solid black; */
}
.scrollableArea {
	width: 644px;
	min-height: 50px;
	max-height: 200px;
	overflow-y: auto;
	border: 1px solid #C0C0C0;
	margin-left: 20px;
	margin-bottom: 10px;
	padding: 5px 0px;
}

/* ------------------------ Panel Authorisation Table ---------------------------- */

.formPanelAuthTable {
	margin:10px;
}
.formAmtRangeTable {
	width: 90%;
	margin: 10px 25px;
}

.formAmtRangeTableHeader span{
	width: 20%;
}

/*--------------------------- REPORT IMAGE STYLES BEGINS ---------------------------------- */

.csv a{
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	*zoom: 1;
	vertical-align: middle;
	background-image: url("images/csv_sprite.png?v1");
	margin-left: 7px;
}
.csv a:hover {
	background-position: 0px -30px;
}

.pdf a {
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	*zoom: 1;
	vertical-align: middle;
	background-image: url("images/pdf_sprite.png?v1");
	margin-left: 7px;
}
.pdf a:hover {
	background-position: 0px -32px;
}

.xls a{
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
	*zoom: 1;
	vertical-align: middle;
	background-image: url("images/excel_sprite.png?v1");
	margin-left: 7px;
}
.xls a:hover {
	background-position: 0px -30px;
}

/*--------------------------- END REPORT IMAGE STYLES ---------------------------------- */

/* <!-- Komal ANZ Issue No.359 BEGINS --> */

/*--------------------------- REPORT PAGINATON BEGINS ---------------------------------- */
.paginationFirst a,
.paginationPrev a,
.paginationNext a,
.paginationLast a,
.paginationFirstDisabled a,
.paginationPrevDisabled a ,
.paginationNextDisabled a,
.paginationLastDisabled a {
	display: inline-block;
	background-position: 0px 0px;
	background-repeat: no-repeat;
	height: 24px;
	width: 24px;
}

.paginationFirst a {
	background-image: url("images/pagenation1_sprite.png?v1");
}
.paginationFirst a:hover {

	background-position: 0px 1px;
}

.paginationPrev a {
	background-image: url("images/pagenation2_3_sprite.png?v1");
}
.paginationPrev a:hover {

	background-position: 0px 1px;
}

.paginationNext a {
	background-image: url("images/pagenation3_icon_default.png?v1");
}
.paginationNext a:hover {

	background-position: 0px 1px;
}

.paginationLast a {
	background-image: url("images/pagenation4_sprite.png?v1");
}
.paginationLast a:hover {

	background-position: 0px 1px;
}

/* Prateep Gedupudi 21 Dec. 2012 Added for Reports Disabled Button Start */
.paginationFirstDisabled a {
                background-image: url("images/pagenation1_icon_default_disabled.png?v1");
}
.paginationPrevDisabled a {
                background-image: url("images/pagenation2_icon_default_disabled.png?v1");
}
.paginationNextDisabled a {
                background-image: url("images/pagenation2_icon_default_disabled.png?v1");
                background-position: -28px 0px;
}

.paginationLastDisabled a {
                background-image: url("images/pagenation4_icon_default_disabled.png?v1");
}

/* Prateep Gedupudi 21 Dec. 2012 Added for Reports Disabled Button End */

/*--------------------------- REPORT PAGINATON ENDS ---------------------------------- */

/* <!-- Komal ANZ Issue No.359 ENDS --> */

/*---SHR - gridNoBottomLineFooter used in Invoice list pages BEGIN---*/
/* changed height below for CR-709 Rel8.2 */
.gridNoBottomLineFooter {
	height: 8px;
	padding: 5px 25px;
	background-color: #f0f0f0;
	font-size: 11px;
	border-right: 1px solid #DBDBDB;
	border-left: 1px solid #DBDBDB;
}
/*---SHR - gridNoBottomLineFooter used in Invoice list pages END---*/
/* -- Pavani for PO details page BEGIN-- */
.poContent {
	width:100%;
	border:0;
	cellspacing:0;
	cellpadding:0;
	table-layout: fixed;
	overflow: scroll;
	word-wrap:break-word;
}
.poContent tr {
	width: 100%;
	vertical-align: top;
}


.alignRight {
      float: right;
}

.poDetailsTable {
      border-spacing: 0;
      *zoom: expression(this.runtimeStyle.zoom = "normal", this.cellSpacing = 0);
      width: 100%;
      font: 11px arial;
      border-width: 0px;
}

.poDetailsTable a {
    color: inherit;
}
/* -- Pavani for PO details page END-- */


/* ------------------------- Expanded Page ---------------------------- */

/*this class defines background, etc for pages that expand to fill the browser window.
  note this does not set height*/
.expandedPage {
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #F0F0F0; /*a lighter grey*/
}


/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */

/* ------------------------- HOME PAGE   ---------------------------- */
.homeAnnounce {
	border: 1px solid #cccccc;
	background-color: #fffcef;
	background-image: url("images/announcement_icon.png?v1");
	background-position: 10px 10px;
	background-repeat: no-repeat;
	padding: 10px 10px 0px 36px;
	margin-bottom: 10px;
	color: #333333; /*should generalize*/
	word-wrap: break-word; /*force word breaks to help with sizing this thing*/	
}
.homeAnnounceLabel {
	float: left;
	font-weight: bold;
}
/*  KMehta 10/25/2013 Rel8400 T36000020522 Start */
.homeAnnounceText {	
	float: left;
	background-color: #fffcef;	
	padding: 0px 10px 10px 10px;
	background-repeat: no-repeat;	
	color: #333333; /*should generalize*/
	word-wrap: break-word; /*force word breaks to help with sizing this thing*/	
}
/*  KMehta 10/25/2013 Rel8400 T36000020522 End */

.announceMore {
	float: right;
	text-decoration: underline; /*should generalize*/
}
.announceMore:hover {
	color: #666666; /*should generalize*/
	cursor: pointer;
}

/*default grid heights*/
#homeMailGrid ,
#homeNotifGrid ,
#homeAllTranGrid ,
#homeRcvTranGrid ,
#homeAcctGrid ,
#homeAnnounceGrid,
#homeLockedUserGrid, 
#homeInvoicesOfferedGrid {
/*  	height: 125px;  */
}

/*--------------------------- MAIL MESSAGE HOME ------------------------------------ */

.messagesFolderOpen,
.messagesFolderClosed {
	padding-left: 5px;
	padding-right: 5px;
	vertical-align: middle;
}

.messagesFolderOpen {
	font-weight : bold;
}

.messagesFolderOpen  ,
.messagesFolderClosed a {
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 0px 4px;
	height: 20px;
	padding-left: 25px;
	line-height: 20px;
}

/*use specific icons for mail folders. default brand does not
  distinguish between open/close, but retain classes so
  brands can if they want*/
.messagesFolderOpen.inbox {
	background-image: url("images/mail_inbox_icon.png?v1");
}
.messagesFolderClosed.inbox a {
	background-image: url("images/mail_inbox_icon.png?v1");
}
.messagesFolderOpen.drafts {
	background-image: url("images/mail_draft_icon.png?v1");
}
.messagesFolderClosed.drafts a {
	background-image: url("images/mail_draft_icon.png?v1");
}
.messagesFolderOpen.sentToBank {
	background-image: url("images/mail_sent_to_bank_icon.png?v1");
}
.messagesFolderClosed.sentToBank a {
	background-image: url("images/mail_sent_to_bank_icon.png?v1");
}

/* ------------------------- DASHBOARD CUSTOMIZATION  ---------------------------- */
/*this ensures the available and selected sections line up vertically*/
.dashboardPrefs .customizationColumn1 .instruction,
.dashboardPrefs .customizationColumn2 .instruction {
	height: 50px;
}


/* ------------------------- ANNOUNCEMENT DIALOG   ---------------------------- */
.announceTitle {
	font-weight: bold;
	margin-bottom: 10px;
}
.announceText {
	margin-bottom: 15px;
	width: 640px; /*same width as entry*/
}
.announceTitle.critical {
	background-image: url("images/warn_alert_icon.png?v1");
	background-repeat: no-repeat;
	padding-left: 35px;
	height: 18px;
	vertical-align: middle;
}
.announceText.critical,
.announceText.criticalExists,
.announceTitle.criticalExists {
	padding-left: 35px;
}

/* ------------------------- OTHER SPECIFIC DIALOG WIDTHS ---------------------------- */
#bankBranchSelectorDialogContent {
	width: 360px;
}

#otherConditionsDialog{
	width: 360px;
	height: auto;
	overflow: auto;
}

/* ANZ Issue 80 IR # T36000017830 RPasupulati */

#InvoiceGroupListDialogID{
	min-width: 200px;
	height: auto;
	overflow: auto;
}

/* ------------------------- ADD OTHER SPECIFIC PAGE STYLES HERE ---------------------------- */

/* -- Naveen for Current Terms Summary page START-- */
.currentTermsContent {
	width:100%;
	cellspacing:0;
	cellpadding:0;
}

.currentTermsContent tr {
	width: 100%;
	vertical-align: top;
}

.currentTermsContent td {
	width: 25%;
}

/* -- Naveen for Current Terms Summary page END-- */

/* --- SHR Invoice Detail Page BEGIN--*/
.invGridHeaderTitle {
	color: #333333;
	font-size: 12px;
	background-color: #f0f0f0;
	display: inline-block;
	margin-top: 5px;
	float: left;
	width: 100%;
}
/* --- SHR Invoice Detail Page END--*/
/* -- Pavani for PO TextArea in Instrument pages BEGIN-- */
.POLineItems {
	background-color: #FFF8E8;
	border-color: #999;
	border-width:thin;
	font-family: Courier, monospace;
    font-size: 12px;
    font-weight: normal ;
    font-style: normal;
    line-height: 12px
}
/* -- Pavani for PO TextArea in Instrument pages END-- */
/* -- Naveen for PO Structured Pop Up START-- */
#ViewStructurePODialog,
#AddStructurePODialog,
#RemoveStructurePODialog{
	width: 850px;
	height: auto;
	overflow: auto;
	background-color: #FFFFFF;
}

.POPopUpContent {
	background-color: #FFFFFF; /*white*/
	border: 0px solid #C0C0C0;
	padding: 10px;
}

.searchLabel {
	margin-left: 0px;
	margin-bottom: 10px;
	margin-right: 5px; /*all margin on right*/
	display: inline-block;
	/*vertical-align: middle; we want to align at bottom*/
	*zoom:1;
	*display:inline;
}
/* -- Naveen for PO Structured Pop Up END-- */

/* --- SHR Invoice Definition Page BEGIN--*/
.invOrderLabel{
	float: left;
	width: 50%;
	padding: 3px 0.1em 0px 1px;
}

.invDeleteSelectedItem {
	display: inline-block;
	float: right;
	background-image: url("images/delete_small_sprite.png?v1");
	background-position: -4px -1px;
	background-repeat: no-repeat;
        width: 16px;
        height: 16px;
	margin: 0.3em 1em;
	cursor: pointer;
}
/* --- SHR Invoice Definition Page END--*/

.deleteSelectedPOStructureDefinitipnItem {
	display: inline-block;
	float: right;
	background-image: url("images/delete_small_sprite.png?v1");
	background-position: -4px -1px;
	background-repeat: no-repeat;
        width: 16px;
        height: 16px;
	margin: 5px 10px 5px 10px;
	*margin-top: -12px;
	*margin-right: -1px;
	cursor: pointer;
}
/* Naveen- Vasco Page- START */
.transactionDetailsContent {
	width:76%;
	cellspacing:0;
	cellpadding:0;
	border: 0px solid #C0C0C0;
}

.transactionDetailsContent th {
	font-weight: bold;
	border: 0px solid #C0C0C0;
	text-align: left;
}

.transactionDetailsContent td {
	border: 0px solid #C0C0C0;
}

.vascoSectionHeader {
	width: 80%;
	background: -moz-linear-gradient(center top , #FEFEFE, #BCBCBB) repeat scroll 0 0 transparent;
	/*background-color: #EEEEEE;*/
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE', EndColorStr='#BCBCBB');
	border: 1px solid #999999;
	color: #333333;
	display: inline-block;
	font: normal 12px/20px arial;
	margin-bottom: 5px;
	margin-left: 10px;
	padding-left: 5px;
	vertical-align: middle;
}
/* Naveen- Vasco Page- END */

/*---SHR - Used in Invoice list pages BEGIN---*/

.gridInvTotalCount {
	float: right;
	padding: 7px 0px;
	white-space: nowrap;
}

.gridInvSelectedCount {
	padding: 7px 0px;
	white-space: nowrap;
	float: left;
}

.gridCount {
	padding: 7px 0px;
}

/*  KMehta 18/12/2013 Rel8400 T36000017871 Decreased padding for gridInvFooterAction to 10px due to issue with IE7  */
/* DK IR-T36000015159/T36000015203. Increased padding to 15px due to issue with IE7 */
.gridInvFooterAction {

	padding-right: 10px;
	margin-bottom: 5px;
	*width: auto !important; 
	*float: left !important;
	float: left !important;
	display:inline-block !important;	 
}
/*--- disabled drop down button text---*/
.claro .dijitDropDownButtonDisabled .dijitButtonNode {
    color: #818181;
}
/*---SHR - Used in Invoice list pages END---*/
.formItemWithIndent9{
	margin-left: 79px;
}

.remittanceInd{
	margin-top: 15px;
}
.formCCCItem{
	margin-left: 0px;
	margin-top: 5px;
}


/* CR821 PanelAuthGroup page specific styles start Prateep */
.radiomarginleft{
	margin-left: 10px;
}

.formContent .columnLeftPanel{
float: left;
width: 35%;

}
.formContent .columnRightPanel{
float: right;
width: 63%;
padding-left: 2px;
border-left: 1px solid #cccccc;
}

.formContent .columnRightPanel .PanelAuthGroupLeft{
float: left;
width: 38%;
}
.formContent .columnRightPanel .PanelAuthGroupRight{
float: right;
width: 59%;
padding-left: 1px;
}


.PanelAuthGroupTableFloatLeft{
float: left;
}
.PanelAuthGroupTableFloatRight{
float: right;
}

.PanelAuthGroupTableScroll{
width:400px;
overflow-x:scroll;
position:relative;
}

.claro .dijitFolderClosed,
.claro .dijitFolderOpened,
.claro .dijitLeaf
{
height:0px;
width:0px;
background-image:;
}
/* CR821 PanelAuthGroup page specific styles end Prateep */

/*CR 821 & 857 View Pending Panel Authorisations Styles Start */
.viewPendingPanelDiv {
	background-color: #FFFFFF; /*white*/
	padding:10px;
	height:400px; 
	width:900px;
	overflow-y:scroll;
} 
.viewPendingPanelRangesDiv {
	background-color: #FFFFFF; /*white*/
	padding:10px;
	overflow-x:scroll;
	overflow-y:scroll;
	width:850px;
	height:250px;
}
/*IR T36000020338 Rel 8.3 DataGrid to get displayed in IE7.*/
.sendForRepairGrid {
	padding:10px;
	height:300px;
	width:500px
}
/*CR 821 & 857 View Pending Panel Authorisations Styles Start */
/* ------------------------- END PAGE SPECIFIC STYLING   ---------------------------- */

/*Sandeep -  Rel 8.3 String Test IR# T36000020534 09/12/2013 - Begin*/
#viewPanelAuthsdialogdivid{
	height:495px;
	width:920px;
}
/*Sandeep -  Rel 8.3 String Test IR# T36000020534 09/12/2013 - End*/
/*Rel 8.3 IR 24051 start*/
.DocumentsSection { 
	  background-color: #ffffff;   
	  overflow: hidden;  
	  padding-top: 8px;
}
/*Rel 8.3 IR 24051 end*/
.ordField .dijitInputContainer{
    background-color: #FFFFFF;
}

.ordField .dijitInputInner{
    text-align: right;
}

.formCCItem{
		margin-bottom: 2px;
		margin-right: 0px;
		margin-left: 1px;
		margin-top: 0px;
}

/*Sandeep - Adding custom styles for D-Grid*/
/**
  *-----------------------------------------------------------------------------------------------------*
  * 					D-Grid specific Default theam Custom Style Calasses below						*
  *-----------------------------------------------------------------------------------------------------*
  **/
.dgrid {
	/* Automatic height allows the grid height to shrink when only a few rows are rendered */
	/*font-size: 14px;*/
	height: auto;
}
/*RPasupulati IR T36000031454 Start*/
.dgrid .dgrid-scroller {
	/* This rule is necessary to enable scrolling to work with a non-fixed height grid */
	position: relative;
	height: 200px;
}
.dgrid-scroller {
	padding-bottom: 0px;
}
/*IE8-Align columns propertly after hide/show column*/
.dgrid div {
    margin: 0;
    padding: 0;
}
/*RPasupulati IR T36000031454 Ends */
/* The following rules define a discrete set of grids that have a maximum height */
/* The max height must be specified for both the top-level grid node and the .dgrid-scroller node */
.dgrid.rows5-with-y-scroll { max-height: 143px; } 
.dgrid.rows5-with-y-scroll .dgrid-scroller { max-height: 122px; } 
.dgrid.rows10-with-y-scroll { max-height: 248px; } 
.dgrid.rows10-with-y-scroll .dgrid-scroller { max-height: 227px; } 
.dgrid.rows15-with-y-scroll { max-height: 353px; } 
.dgrid.rows15-with-y-scroll .dgrid-scroller { max-height: 332px; } 
.dgrid.rows20-with-y-scroll { max-height: 458px; } 
.dgrid.rows20-with-y-scroll .dgrid-scroller { max-height: 418px; }
.dgrid.rows30-with-y-scroll { max-height: 682px; }
.dgrid.rows30-with-y-scroll .dgrid-scroller { max-height: 660px; }

.dgrid.rows5-no-y-scroll { max-height: 126px; } 
.dgrid.rows5-no-y-scroll .dgrid-scroller { max-height: 105px; } 
.dgrid.rows10-no-y-scroll { max-height: 231px; } 
.dgrid.rows10-no-y-scroll .dgrid-scroller { max-height: 210px; } 
.dgrid.rows15-no-y-scroll { max-height: 336px; } 
.dgrid.rows15-no-y-scroll .dgrid-scroller { max-height: 315px; } 
.dgrid.rows20-no-y-scroll { max-height:  441px;} 
.dgrid.rows20-no-y-scroll .dgrid-scroller { max-height: 420px; }

.dgrid-header {
	background-color: #C0C0C0;
	background: -moz-linear-gradient(top, #FEFEFE, #BCBCBB);
	background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#BCBCBB));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFEFEFE, endColorstr=#FFBCBCBB);
}
.dgrid-header .dgrid-cell {
	border: 1px solid #dddddd;
	border-top-style: none;
	border-bottom-style: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	white-space: normal;
	word-wrap: break-word;
}
.dgrid-header .dgrid-cell:hover {
	background: #d0d0d0;
}
.dgrid-row-table {
	font-size: 11px;
	background-image: none;
}
.dgrid-row{
	background-color: #ffffff;
}
.dgrid-row .dgrid-row-table .dgrid-cell {
/* 	sborder:1px solid transparent; dgrid-header*/
}
.dgrid-cell{
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
}
.dgrid-selected {
	background-image: none;
	background-color: #d0d0d0; /*not too dark*/
	border-top:1px solid #d0d0d0;
	border-bottom:1px solid #d0d0d0;
}
.dgrid-row:hover{
	background-color:#C0C0C0; /*not too dark*/
	background-image: none;
	border-right:1px solid transparent;
	
	filter:alpha(opacity=50); /* IE Proprietary */
	opacity: 0.5; /* CSS3 Standard */
	-moz-opacity:0.5; /* Mozilla Property */
}
.dgrid-row-odd {
	background-color: #FFF8E8;
}
.dgrid-focus{
	outline: none;
/* 	border: 1px solid transparent !important; */
}
.dgrid a {
	color:#333333;
}
.dgrid a:hover {
	color: #666666;
}
.dgrid-header-scroll {
	background-color: #C0C0C0;
	background: -moz-linear-gradient(top, #FEFEFE, #BCBCBB);
	background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#BCBCBB));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFEFEFE, endColorstr=#FFBCBCBB);
}
.dgrid-header-scroll:hover {
	background: #d0d0d0;
}
.dgrid-header-scroll .ui-icon{
	background-image: none;
}
.claro .dojoDndItemOver {	
	background-repeat: no-repeat;
	background-image: none;
	padding: 3px;	
}
.dgrid-no-data,
.dgrid-loading {
	text-align: center;
	padding:16px;
}
.dgrid-content .dgrid-cell {
	border-color: transparent;
}
/*provide default styles for form type grid*/
.formContent .dgrid, .formContentNoSidebar .dgrid {
	/*To Do -- height: 500px;*/
}
/*provide default styles for dialog type grid*/
.dialogContent .dojoxGrid {
	/*To Do -- height: 300px;*/
}
.dgrid-row-table .dijitCheckBoxChecked {
	/*To Do*/
	/*background-color: inherit; /*we want to pick up hover, selected styles!*/
	/*border-top: none;
	border-bottom: none;*/
}
/*To Do: dGrid Selector Column background color settingk*/
.dgrid-row .dgrid-row-table .dgrid-selector{ 
/* 	background-color: #FFF; */
} 
/*To Do: dGrid Selector Column background color settingk*/
.dgrid-row .dgrid-row-table .dgrid-selector:hover{ 
/* 	background-color: #C0C0C0; */
/* 	filter:alpha(opacity=50); IE Proprietary */
/* 	opacity: 0.5; CSS3 Standard */
/* 	-moz-opacity:0.5; Mozilla Property */
}
.claro .dojoDndItemAnchor, .claro .dojoDndItemSelected {
    background-color: #DDDDDD;
    background-image: linear-gradient(rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%);
    background-repeat: repeat-x;   
    color: #000000;
    padding: 3px;
    background: -moz-linear-gradient(center top , #FEFEFE, #BCBCBB) repeat scroll 0 0 rgba(0, 0, 0, 0);
	background: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#BCBCBB));
}

/*End of D-Grid Style Classes*//*Rakesh -  Rel 8.4  IR# T36000021898 */
#InvoiceMgmtFileUploadErrorsDataGridId .dojoxGridView .dojoxGridCell {
	white-space: normal;
}


/*Rel9.0 CR 913 - Style class for empty space*/
.formItemWithHeight1 {
	height: 180px;
}

/*Rel9.0 CR 913 - set width*/
.columnWidth200 {
	width: 200px;
}

/*Rel9.0 IR T36000014359 - Style class for non-resizable text area*/
.resizeNoneTextArea{
    width: auto;
    resize: none;
}
/*
.UploadInvoices_Authorize, .UploadInvoices_LAuthorize, .UploadInvoices_PAuthorize{
    float: right !important;
    position: relative;
    right: 167px;
}**/
/*T36000030360 - Hide unparsed widget from page*/
.gridInvoiceFooterDivHidden{
	visibility: hidden;
}
.gridInvoiceFooterDivVisible{
	visibility: visible;
}
/*T36000036055 - appling scroll bar Rpasupulati*/

.tableScroll5records{
	overflow-y:scroll;
	height: 109px;
}
.tablerowalignment{
	valign: baseline !important;
}


.treeGridChildren{
      font-style: italic;
}
/*Srinivasu_D CR#997 Rel9.3 04/04/2015 - Start*/
.PayDisDetailsError{padding: 5px,5px,5px,5px;}
#PayDiscountDetailDialog {width: 760px; max-width:770px height: 580px; overflow: none;}
#PayDiscountDetailErrorDialog {width: 360px; max-width:370px height: 350px; overflow: auto;}
.PayDisDetailsError{padding: 5px,5px,5px,5px;}
.dijitNoTitlePaneContentOuterTS {border-top: 1px solid #B5BCC7; border-left: 1px solid #B5BCC7; border-right: 1px solid #B5BCC7; border-bottom: 1px solid #B5BCC7; padding: 8px 2px 1px 8px; *zoom: 1;}
.dijitNoTitlePaneContentOuterTST{border-left: 0px solid #B5BCC7; padding-left: 10px; padding-right: 10px; padding-top: 5px;}
/*Srinivasu_D CR#997 Rel9.3 04/04/2015 - End */

/* Added for CR-1028 Rel9.3.5 Begins */
.formItemWithIndent11{
	margin-left: 98px;
}
/* Added for CR-1028 Rel9.3.5 Ends */

/* Added for CR-1029 Rel 9.3.5 Starts */
.fieldDisplayValue{
    float:left;min-width:222px;
}

.fixSpace{
     position: relative;
     left: 8px;  
	}
.pageSubHeaderIndent {
	margin-left: 150px;
}
/* Added for CR-1029 Rel 9.3.5 Ends */

#IssueApplicationForm_label{
	  text-align: left !important;
}
.notificationTempldialogContent {width: 360px; padding: 10px 8px; max-height: 300px; overflow-y: auto;}
.availNotifyItemSelect {display: inline-block; padding: 0px 0px 0px 5px; text-align: center; solid #ff0000;	color: red;}
.availNotifyHTHItemSelect {display: inline-block; padding: 0px 0px 0px 37px; solid #ff0000;	color: red;}
.availNotifySpace {padding: 0px 0px 6px 0px;}
