html, body {
	width: 100%;
	padding: 0;
	margin: 0;
	color: #666;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
}
.footer-wrapper {
	width: 980px;
	margin: 0 auto;
	padding: 0;
}
/*QUICK LINKS*/
#footer .quick-links {
	clear: none;
	display: inline;
	float: left;
	margin: 0 20px 20px;
	width: 550px!important;
}
#ie7 #footer .quick-links {
	padding: 0 20px 20px;
}
#footer .quick-links li {
	display: inline;
	float: left;
	border-right: 1px solid #ccc;
}
#footer .quick-links li.right {
	float: right;
	border-right: none;
}
#footer .quick-links li.last {
	border-right: none;
}
#footer .quick-links li a {
	color: #666;
	padding: 5px 10px;
}
#footer .quick-links li a:hover, #footer .quick-links li a:focus, #footer .quick-links li a:active {
	color: #D81E05;
	text-decoration: none;
}
.footer-wrapper sup {
	vertical-align: top;
	position: relative;
	top: -2px;
}
#footer {
	background-color: #e8e6de;
	margin: 15px 0;
}
#footer strong, #footer li, #footer li h3 {
	font-size: 1.2em;
}