<div>
  <!-- This is a basic widget template for our FormSidebar widget. Note that this comment is inside the root element;
       this is because templates can only have one root element. -->
	   
  <!--cquinton 10/10/2012 ir#6053 added back formSidebarHeader, but note that it is 
      not visible unless we identify there are no other section links or other sidebar links-->
  <h2 class="formSidebarHeader"></h2>

  <!--cquinton 10/10/2012 ir#6053 moved sectionLinksSection to the Sidebar.jsp and RefDataSidebar.jsp
      to allow for internationalized title.
      also removed all old comments -->

  <!-- The "containerNode" attach point is a special attach point designed primarily for declarative widgets.
       All the content that was inside the widget element in the original HTML gets placed inside this node when
       the widget is instantiated. -->
  <div data-dojo-attach-point="containerNode"></div>
</div>