/**********************************************************************/
/* NBC style                                                          */
/* All colors, including icon colors are inverted to ensure that      */
/* stylesheet is used on the page rather than hardcoding.             */
/**********************************************************************/
/*
 * NOTE: all references to external urls from within stylesheets
 * use a manual cache busting mechanism to force browsers to load
 * new content based on a changing url.  Each url has a
 * parameter in the form of '?v1'.  When the content is changed
 * (i.e. a dependent stylesheet or image changes), the version
 * number should be manually changed to force cache busting to occur.
 * i.e. '?v1' would be updated to '?v2', etc.
*/

/***********************************************************************/
/* Extend this style from default CGI style by importing it.           */
/* With this approach, defect fixes and updates in CGI default         */
/* style is applied to the extended styls with out much changes.       */
/***********************************************************************/

@import url("../default/portalstyle.css?v1");

/***********************************************************************/
/* Overwrite CGI default styles or add new styles below that are       */
/* specific to this style.                                             */
/***********************************************************************/

/* ----------------------------------------------------------------- */

body {
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    font-size: 13px; /*default font for app*/
}



/* ------------------------- PAGE LAYOUT ---------------------------- */

/* --- Master Header --- */
.pageHeader {
    background-color: #FFFFFF; /* white background */
}

/* --- Header Navigation --- */
.pageHeaderNavigationBackground {
    /*background-color: #00649F;
    background-image: url("../../js/dijit/themes/claro/images/menuHighlight.png?v1");*/
    /*border-top: 1px solid #E3F1FC;
    border-bottom: 1px solid #E3F1FC;*/
    /*height: 29px;*/
    height: 31px;


    background-color: #E41C23;
    background-image:none;
    border-bottom: 1px solid #C21117;
    border-top: 1px solid #C21117;
}
.pageHeaderNavigation .pageContent{
    background-color: #E41C23;
    border-bottom: 1px solid #C21117;
    border-top: 1px solid #C21117;
    width: 100%;
}

.pageHeaderNavigation .mmWrapper{
    margin: 0 auto;
    padding:0;
    width: 920px;
}

/* --- Main Container --- */
.pageMain .pageContent,
.pageMainNoSidebar .pageContent{
    background-color:#ffffff;
}

/* ------------------------- Master Header Content ---------------------------- */
.headerContent,
.headerContentMinimal {
    background-color: #FFFFFF;
    background: none;
}

.headerContent{
    height:75px;
}

/*.headerLogo {
    background-image: url("images/national-bank-logo-1.jpg?v1");
    width: 109px;
}*/

.headerLogo {
    background-image: url("images/national-bank-logo-1.jpg");
    background-repeat: no-repeat;
    height: 62px;
    width: 184px;
    display: inline;
    float: left;
    margin-top: 5px;
}
.lang_fr .headerLogo {
    background-image: url("images/national-bank-logo-fr.gif?v1");
}
.headerBrandName {
    background-image: url("images/NB_GTS_logo.jpg?v1");
    background-position: 0px 0px;
    background-repeat: no-repeat;
    height: 28px;
    width: 109px;
    margin-top: 23px;
    margin-left: 0px;
    display: inline-block;
    float: left;
}
.lang_fr .headerBrandName {
    background-image: url("images/NB_GTS_logo-fr.jpg?v1");
    width:180px;
}
.headerBrandName span {
    display: none;
    /*
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding-left: 4px;
    padding-top: 2px;
    width: 122px;
    *padding-top: 3px;
    */
}

.headerSubTitle {
    display:none;
}



.headerBehavior a {
    color: #666666;
    text-transform:uppercase;
}
.headerBehavior a:hover {
    text-decoration:underline;
}
.headerBehavior .headerUserName a{
    color: #00324e;
}
.headerHome,
.headerHelp,
.headerNotifications,
.headerMessages{
    padding-left:8px;
}
.headerMessages a {
    background-image: url("images/mail_icon.png?v1");
}

.headerNotifications a {
    background-image: url("images/bubble_icon.png?v1");
}

.headerHelp a {
    background-image: url("images/question_icon.png?v1");
    background-position: 0px 2px;
    padding-left: 21px;
}

.headerHelp a:hover {
    background-image: url("images/question_icon_rollover.png?v1");
}
.headerUserName {
    font-size:16px;
}
.headerLogout {
    margin-left:0;
}
.headerLogout a {
    border-left: 1px solid #777;
    background-color: transparent;
    background-image: none;
    vertical-align:middle;
}
.headerLogout a:hover{
    color:#666666;
}


/* ------------------------- Master Footer Content ---------------------------- */
.footerContent {
    color: #666666;
    padding:10px 10px 45px;
}

/* -------------------------  Form Content ---------------------------- */
.formContentNoSidebar {
    border: 1px solid transparent;
    background: url(images/shadow.png) no-repeat center bottom transparent;
    padding:10px 10px 45px 10px;
    margin:0;
}
.formContentNoSidebar:last-child {
    background:none;
}
.formContent .columnLeft {
    border-right:1px dotted #00649F;
}
.formArea {
    margin:0 0 0 10px;
}

/* ------------------------- MENU ---------------------------- */

/*set colors for all menu bar items*/
.megaMenuBarItem, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem {
    background-color: #E41C23;
}
/*set colors for all menu bar items*/
.megaMenuBarItem, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem {
    background-color: #E41C23;
    text-transform:uppercase;
}

.standardMenuBarItems.withMyLinks {
    /*the width here causes standard menu items to wrap.
      it needs to be page width minus mylinks width*/
    width: 790px;
}
/* account for a bit larger mylinks in japanese */
.lang_ja .standardMenuBarItems.withMyLinks {
    width: 780px;
}
/* account for quite larger mylinks in vietnamese */
.lang_vi .standardMenuBarItems.withMyLinks {
    width: 765px;
}

/*set colors for all menu bar items*/
.megaMenuBarItem, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem {
    background-image:none;
    padding:9px 10px;
}
/*cquinton 12/19/2012 use sprite for cleaner rollover*/
.menuBarItemIcon {
    background-image: url("images/collapsible_icon_sprite.png?v1");
    /*background-position: -2px -5px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 5px;
    width: 12px;
    margin-top: 1px;
    margin-left: 6px;*/
        /*icon placement a bit off in ie7, so modify it*/
    /**vertical-align: middle;
    *margin-top: 2px;*/
}

/* on menu bar item selection or hover change the drop down image too*/
.megaMenuBarItem.mmMenuBarItemSelected .menuBarItemIcon, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected .menuBarItemIcon,
.mmWrapper .dijitMenuPassive .dijitMenuItemHover .menuBarItemIcon,
.mmWrapper .dijitMenuPassive .dijitMenuItemSelected .menuBarItemIcon,
.mmWrapper .dijitMenuActive .dijitMenuItemSelected .menuBarItemIcon,
.mmWrapper .dijitMenuActive .dijitMenuItemHover  .menuBarItemIcon {
    background-position:-2px -5px;
}

/*selected style*/
.megaMenuBarItem.mmMenuBarItemSelected, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem.mmMenuBarItemSelected ,
/*hover style*/
.mmWrapper .dijitMenuPassive .dijitMenuItemHover,
.mmWrapper .dijitMenuPassive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .dijitMenuItemHover {
    color: #ffffff;


    background:none;
    background-color:#e41c23;

    background: linear-gradient(top, #e41c23, #a01419);
    /* Mozilla Firefox */
    background: -moz-linear-gradient(top, #e41c23, #a01419);
    /* Opera */
    background: -o-linear-gradient(top, #e41c23, #a01419);
    /* Webkit (Safari/Chrome 10) */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e41c23), color-stop(1, #a01419));
    /* Webkit (Chrome 11+) */
    background: -webkit-linear-gradient(top, #e41c23, #a01419);
    /* IE6,IE7,IE8 */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#e41c23', EndColorStr='#a01419');
    /* IE9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e41c23', EndColorStr='#a01419')";
    /* IE10 */
    background: -ms-linear-gradient(top, #e41c23, #a01419);

    border-top: 1px none transparent;
    border-right: 1px solid #c2181e;
    border-bottom: 1px solid #c2181e;
    border-left: 1px solid #c2181e;
    padding:9px 9px 8px;
}

/*the drop down styles*/
.mmDropdown {
    height: auto;
}

.mmContent {
    font-family:'Trebuchet MS', Helvetica, sans-serif;
    font-size: 11px;
    font-weight: normal;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/*menu header divider*/
.mmHeaderDivider {
    border-bottom:1px solid #cccccc;
}

/*menu category headings*/
.mmCategory {
    padding: 0px 0px 8px 0px;
    font-size: 1.3em;
    color: #00324d;
    font-weight: 700;
}

.mmContent ul li a {
    color: #666666;

}
.mmContent ul li a:hover {
    color: #666666;
    text-decoration:underline;
}

/*menu divider*/
.mmDivider {
    border-bottom:none;
}

.myLinks,
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks,
.megaMenuBarItem.myLinks.mmMenuBarItemSelected,
.mmWrapper .dijitMenuBar .dijitMenuItem.myLinks.mmMenuBarItemSelected ,
.mmWrapper .dijitMenuPassive .myLinks.dijitMenuItemHover,
.mmWrapper .dijitMenuPassive .myLinks.dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .myLinks.dijitMenuItemSelected,
.mmWrapper .dijitMenuActive .myLinks.dijitMenuItemHover {
    /*background-color: #00649F;*/
    background-color: #E41C23;
    margin:0;
    padding:6px 10px 5px
}
}
.myLinksCategory {
    background-color: #F6C0C2; /* Light red */
    /*background-color: #E0EEF9;*/
}
.myLinks span {
    background-image: url("images/my_links_icon.png?v1");
    padding-left:35px;
    line-height:21px;
}
.myLinks span.myLinksDropdownIcon {
    background-image: url("images/my_links_dropdown_icon.png?v1");
    margin-left:10px;
}

/* ------------------------- Secondary Navigation -------------------- */

.secondaryNav {
    /*color: #00649F;*/
    /*margin:1px 0 0 0;*/
    margin:0;
    padding:20px 0 20px 10px;
    position:relative;
}
.secondaryNavTitle,
.secondaryNavTitleCamel {
    color:#e41c23;
    /*display:block;*/
    float:none;
    font-size:25px;
    margin:0;
    /*padding:20px 0 20px 10px;*/
}
.secondaryNavLink{
    background:url("images/sub_navigation_icon_sprite.png?v1") right 3px no-repeat;
    font-size:15px;
    font-weight:400;
    left:0;
    position:relative;
    top:0;
}
.secondaryNavLink.navLinkSelected {
    background-image: url("images/sub_navigation_icon_selected.png?v1");
    background-position:right 3px;
    color: #333333;
}
.secondaryNavLink,
.secondaryNavLink.navLinkSelected {
    margin:0 25px 0 0;
    padding:0 24px 0 0;
}
.secondaryNavLink a{
    color:#666666;
    background:none;
    padding:0;
}
.secondaryNavItem{
    color:#00324d;
    float:none;
    font-size:20px
}
.secondaryNav-right{
    /*right:10px;
    top:24px;*/
    position: absolute;
    right: 0;
    top: 0;
    float:none;
}
.secondaryNavHelp a {
    background-image:url("images/help_sprite.png?v1");
    background-position:right 0;
}
.secondaryNavHelp a:hover{
    background-position:right -30px;
    color:#444;
}
.secondaryNavRefresh{
    padding: 20px 23px 0 0;
    position: absolute;
    right: 80px;
    top: 0;
    float: none;
}
.secondaryNavRefresh a{
    background-image:url("images/refresh_sprite.png?v1");
    background-position:right 0;
}
.secondaryNavRefresh a:hover{
    background-position:right -30px;
    color:#444;
}
.secondaryNavEdit{
    padding: 20px 23px 0 0;
    position: absolute;
    right: 40px;
    top: 0;
    float: none;
}
.secondaryNavEdit a {
    background-image: url("images/edit_sprite.png?v1");
    background-position:right 0px;
}
.secondaryNavEdit a:hover {
    background-position:right -30px;
    color:#444;
}
.secondaryNavHelp {
    padding:20px 23px 0 0;
    position: absolute;
    right: 0;
    top: 0;
    float:none;
}

.messagesAttachment a{
    text-decoration: none;
    background-image: url("images/attach_icon.png?v1");
}
.messagesAttachment a:hover {
    background-image: url("images/attach_icon.png?v1");
}



/* ------------------------- Page SubHeader -------------------- */


.pageSubHeader{
    padding:10px;
}
.pageSubHeader a {
    color: #00649F;
}
.pageSubHeader a:hover {
    color:#00649F;
}

/* ------------------------- Transaction SubHeader -------------------- */

.transactionSubHeader{
    font-size:20px;
    color:#00324d;
    padding:10px 0px 10px 10px;
}

/*the following are deprecated!!! use pageSubHeader items above*/
.transactionReturn {

    padding-right: 10px;
}
.transactionReturn a {
    color: #00649F;

}
.transactionReturn a:hover {
    color:#00649F;
}

/* ------------------------- ERROR SECTION --------------------------- */

.errorText {
    background-image: url("images/error_alert_icon.png?v1");
}
.warnText {
    background-image: url("images/warn_alert_icon.png?v1");
}
.infoText {
    background-image: url("images/info_alert_icon.png?v1");
}


/* ------------------------- DIALOGS --------------------------------- */

.claro .dijitDialogTitleBar {
    background-color:#e41c23;
    background-image:none;
}
.claro .dijitDialogTitle{
    color:#ffffff;
}

.nonCriticalDialog .dijitDialogCloseIcon {
    background-image: url("images/dialog_close_default_icon.png?v1");
}

.claro .dijitPopup.dijitCalendarPopup{
    background-color:#ffffff;
    border-radius:4px;
}
.claro .dijitCalendar{
    background-color:#D5D5D5;
    border:solid 1px #929292;
}
.claro .dijitCalendarHover,
.claro .dijitCalendar:hover,
.claro .dijitCalendarActive{
    background-color:#D5D5D5;
    border:solid 1px #929292;
}
.claro .dijitCalendar .dijitDropDownButton .dijitButtonNode{
    border:solid 1px #666666;
}
.claro .dijitCalendar .dijitDropDownButtonHover .dijitButtonNode,
.claro .dijitCalendar .dijitDropDownButton:hover .dijitButtonNode{
    background-color:#C4C4C4;
    border:solid 1px #666666;
}
.claro .dijitCalendarPreviousMonth,
.claro .dijitCalendarNextMonth{
    background-color: #EEEEEE;
}
.claro .dijitCalendarPreviousMonth .dijitCalendarDateLabel,
.claro .dijitCalendarNextMonth .dijitCalendarDateLabel{
    color: #8F9499;
}
.claro .dijitCalendarHoveredDate .dijitCalendarDateLabel,
.claro .dijitCalendarEnabledDate:hover .dijitCalendarDateLabel{
    background-color: #D3D3D3;
    border: solid 1px #CCCCCC;
}

.claro .dijitCalendarSelectedDate .dijitCalendarDateLabel,
.claro .dijitCalendarActiveDate .dijitCalendarDateLabel,
.claro .dijitCalendarEnabledDate:active .dijitCalendarDateLabel{
    background-color: #e41c23;
    color: #ffffff;
}

/* ------------------------- SIDEBAR --------------------------------- */

.formSidebar{
    top:241px !important;
}
.formSidebarHeader {
    color: #FFFFFF
}


/* ------------------------- COMMON ICON STYLES --------------------------------- */

/*individual icon styles*/
.search {
  background-image: url("images/search_icon.png?v1");
}

.copy {
  background-image: url("images/copy_instrument_icon.png?v1");
}

.deactivate {
  background-image: url("images/deactivate_icon.png?v1");
}

.preview {
  background-image: url("images/preview_icon.png?v1");
}

.saveAs {
  background-image: url("images/saveAs_icon.png?v1");
}

.send {
  background-image: url("images/send_to_bank_icon.png?v1");
}

.saveDraft {
  background-image: url("images/savedraft_icon.png?v1");
}

.saveDraftClose {
  background-image: url("images/savedraft_close_icon.png?v1");
}

.reply {
  background-image: url("images/reply_to_bank_icon.png?v1");
}

.edit {
  background-image: url("images/edit_icon.png?v1");
}

.authorizeDelete {
  background-image: url("images/authorize_delete_icon.png?v1");
}

.authorize {
  background-image: url("images/authorize_icon.png?v1");
}

.attachDocument {
  background-image: url("images/attach_document_icon.png?v1");
}

.deleteDocument {
  background-image: url("images/attach_document_icon.png?v1");
}

.add {
  background-image: url("images/add_icon.png?v1");
}

.verify {
  background-image: url("images/verify_icon.png?v1");
}

.attach {
  background-image: url("images/attach_icon.png?v1");
}

.route {
  background-image: url("images/route_icon.png?v1");
}

.save {
  background-image: url("images/save_icon.png?v1");
}

.saveclose {
  background-image: url("images/saveclose_icon.png?v1");
}

.close {
  background-image: url("images/close_icon.png?v1");
}

.download, .upload{
  background-image: url("images/download_icon.png?v1");
}

.approve {
  background-image: url("images/approve_icon.png?v1");
}

.deny {
  background-image: url("images/deny_icon.png?v1");
}

.delete, .remove{
  background-image: url("images/delete_icon.png?v1");
}

.attachIcon{
}

.attachIcon a{
    display: inline-block;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px;
}

.attachIcon a {
    background-image: url("images/attach_icon.png?v1");
}

/* ------------------------- COMMON PAGE STYLES --------------------------------- */

.sectionLinks a:link, .sectionLinks a:visited,
.navigationLinks a:link, .navigationLinks a:visited  {
    color: #666666;
 }
.sectionLinks a:hover, .navigationLinks a:hover {
    text-decoration:underline;
}


.claro .dijitButton .dijitButtonNode{
    filter:none;
    -ms-filter:none;
    background:#e41c23;
    border-radius:3px;
    /*border: 2px 2px 2px 2px solid #FEFFFF;*/
    border:none;
    color:#FFFFFF;
    font-weight:bold;

    transition:none;

    /* Proposed W3C Markup */
    /*background: linear-gradient(top, #FEFEFE, #e41c23);*/
    /* Mozilla Firefox */
    /*background: -moz-linear-gradient(top, #FEFEFE, #e41c23);*/
    /* Opera */
    /*background: -o-linear-gradient(top, #FEFEFE, #e41c23);*/
    /* Webkit (Safari/Chrome 10) */
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FEFEFE), color-stop(1, #e41c23));*/
    /* Webkit (Chrome 11+) */
    /*background: -webkit-linear-gradient(top, #FEFEFE, #e41c23);*/
    /* IE6,IE7,IE8 */
    /*filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE', EndColorStr='#e41c23');*/
    /* IE9 */
    /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FEFEFE', EndColorStr='#e41c23')";*/
    /* IE10 */
    /*background: -ms-linear-gradient(top, #FEFEFE, #e41c23);*/
}


.claro .dijitButtonHover .dijitButtonNode{
    background:none;
    background-color:#e41c23;

    background: linear-gradient(top, #e41c23, #a01419);
    /* Mozilla Firefox */
    background: -moz-linear-gradient(top, #e41c23, #a01419);
    /* Opera */
    background: -o-linear-gradient(top, #e41c23, #a01419);
    /* Webkit (Safari/Chrome 10) */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e41c23), color-stop(1, #a01419));
    /* Webkit (Chrome 11+) */
    background: -webkit-linear-gradient(top, #e41c23, #a01419);
    /* IE6,IE7,IE8 */
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#e41c23', EndColorStr='#a01419');
    /* IE9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#e41c23', EndColorStr='#a01419')";
    /* IE10 */
    background: -ms-linear-gradient(top, #e41c23, #a01419);
}

.dijitTextBox   {
    /*background-color: #E3F1FC !important;*/
    background-color: #FFFFFF !important;
}
.claro .dijitTextBox {
    border-color:#d7d7d7;
}

.claro .dijitComboBox .dijitButtonNode {
    /*background-color: #E3F1FC;*/
    background-color: #FFFFFF;
}

.checkBoxFormItem {
    margin-left: 14px;
    margin-bottom: 10px;
    margin-right: 0px;
}

label{
    color:#666666;
}

.formItem.readOnly label {
    color: #666666;
}

.formItem.readOnly {
    color: #666666;
}


/* ------------------------- FIELD WIDTHS ---------------------------------- */



/* ----------------------- SUBSECTION HEADER ------------------------ */

.subsectionHeader h3, .subsectionWideHeader h3, .subsectionShortHeader h3{
    color: #000000;
    font-size:12px;
    font-weight:700;
}

.subsectionWideHeader h3 {
    border-bottom:1px dotted #e41c23;
}

/* -------------------------  PANE ---------------------------- */

.dijitTitlePane {
    margin-bottom:10px;
}
.claro .dijitTitlePane .dijitTitlePaneTextNode{
    color: #FFFFFF;
}
.claro .dijitTitlePaneTitle{
    background-image: none;
    background-color: #e41c23;
    border: 1px solid #e41c23;
}
.claro .dijitTitlePaneTitle.dijitClosed{
    background-color: #acacac;
    border: 1px solid #acacac;
}
.claro .dijitTitlePaneTitleHover{
    background-color: #e41c23;
}
.claro .dijitTitlePaneTitle .dijitArrowNode{
    background-image: url(images/spriteArrows.png);
    height:11px;
    width:11px;
}
.claro .dijitTitlePane .dijitOpen .dijitArrowNode{
    background-position:0 0;
}
.claro .dijitTitlePane .dijitClosed .dijitArrowNode{
    background-position:-22px 0;
}
.dijitTitlePaneContentInner{
    background-color:#FCFCFC;
}
/* ------------------------ FIELD LABELS ---------------------------- */

/* ------------------------ Table Containers ---------------------------- */
.formDocumentsTable .tableSubHeader{
    background-color: #F3F3F3;
}

/* ------------------------ Admin Table ---------------------------- */



/* ------------------------ Page Header ---------------------------- */

/* ------------------------- DATA GRIDS  ---------------------------- */

.gridHeader {
    margin-bottom: 10px;
}
.gridHeader a{
    color: #666666;
}
.gridHeaderTitle {
    color: #00324d;
    font-size:20px;
    margin-top:0;
}
.gridHeaderTitle a{
    color: #00324d;
}
.gridHeaderEdit {
    background-image: url("images/edit_sprite.png?v1");
    cursor:pointer;
}
.gridHeaderShowCounts {
    color: #666666;
}
.gridHeaderShowCountItem:hover {
    color: #e41c23;
}
.gridHeaderShowCounts a {
    color: #000000;
}
.gridHeaderShowCounts a:hover {
    color: #e41c23;
}
.dojoxGrid{
    font-family:'Trebuchet MS', Arial,Helvetica,sans-serif;
}
.claro .dojoxGridMasterHeader{
    /*background: -moz-linear-gradient(top, #C0C0C0, #E6E6E6);
    background: -webkit-gradient(linear, left top, left bottom, from(#C0C0C0), to(#E6E6E6));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C0C0C0, endColorstr=#E6E6E6);*/
    background-color:#818181;
    background: -moz-linear-gradient(top, #818181, #555555);
    background: -webkit-gradient(linear, left top, left bottom, from(#818181), to(#555555));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#818181, endColorstr=#555555);
}
.claro .dojoxGridMasterHeader{
    color:#ffffff;
}

.claro .dojoxGridCellOver .dojoxGridSortNode ,
.claro .dojoxGridHeader .dojoxGridCellOver {
    /*background: #E3F1FC;*/
    background:#ACACAC;
}

.claro .dojoxGridRowSelected .dojoxGridCell {
    background: #C0C0C0 repeat-x;
    border-top:1px solid #C0C0C0;
    border-bottom:1px solid #C0C0C0;
}
.claro .dojoxGridRowbarOver .dojoxGridRowbarTable {
    background-color: #C0C0C0;
}
.claro .dojoxGridRowbarSelected{
    background-color: #C0C0C0;
}
.claro .dojoxGridRowOver .dojoxGridCell {
    background: #C5C5C5 repeat-x;
    border-top:1px solid #E6E6E6;
    border-bottom:1px solid #E6E6E6;
}
.dj_ie6 .claro .dojoxGridRowOver .dojoxGridCell,
.dj_ie7 .claro .dojoxGridRowOver .dojoxGridCell {
    border-left:1px solid #E6E6E6;
    border-right:1px solid #E6E6E6;
}

.claro .dojoxGridRowOdd .dojoxGridRowTable tr {
    background-color: #F0F0F0;
}

.claro .dojoxGrid,
.claro .dojoxGrid a {
    color:#666666;
}
.claro .dojoxGrid a:hover{
    color:#e41c23;
}

.gridFooter {
    color: #666666;
    background-color: #FFFFFF;
}


/* ------------------------- CUSTOMIZATION PAGES  ---------------------------- */


.deleteSelectedItem {
    background-image: url("images/delete_icon.png?v1");
}
.deleteSelectedItem:hover {
    background-image: url("images/delete_icon.png?v1");
}



/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */


/* ------------------------- ANNOUNCEMENT DIALOG   ---------------------------- */


/* ------------------------- ADD OTHER SPECIFIC PAGE STYLES HERE ---------------------------- */

/* ------------------------- Reference data table containers ---------------------------- */


/* ------------------------ Panel Authorisation Table ---------------------------- */


/* ------------------------ Amount Range Table ---------------------------- */



/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */

/* ------------------------- HOME PAGE   ---------------------------- */
.homeAnnounce {
    border: 1px solid #cccccc;
    background-color: #f5f5f5;
    background-image: url("images/announcement_icon.png?v1");
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px 10px 0px 45px;
    margin:10px;
    color: #333333; /*should generalize*/
    word-wrap: break-word; /*force word breaks to help with sizing this thing*/
}
#homeAnnounce {
    background-color: #E3F1FC;
    background-image: url("images/announcement_icon.png?v1");
    color: #00649F;
}

#homeAnnounce a {
    color: #00649F;
}


/* ------------------------- OTHER SPECIFIC DIALOG WIDTHS ---------------------------- */

