/**********************************************************************/
/* mnt brand                                                          */
/**********************************************************************/
/*
 * NOTE: all references to external urls from within stylesheets
 * use a manual cache busting mechanism to force browsers to load
 * new content based on a changing url.  Each url has a 
 * parameter in the form of '?v1'.  When the content is changed
 * (i.e. a dependent stylesheet or image changes), the version
 * number should be manually changed to force cache busting to occur.
 * i.e. '?v1' would be updated to '?v2', etc.
*/

/***********************************************************************/
/* Extend this style from default CGI style by importing it.           */
/* With this approach, defect fixes and updates in CGI default         */
/* style is applied to the extended styls with out much changes.       */
/***********************************************************************/

@import url("../default/portalstyle.css?v1"); 

/***********************************************************************/
/* Overwrite CGI default styles or add new styles below that are       */
/* specific to this style.                                             */
/***********************************************************************/


/* ----------------------------------------------------------------- */


/* ------------------------- PAGE LAYOUT ---------------------------- */

/* --- Master Header --- */
.pageHeader {    
	background-color: #007856; /*M&T Green*/
}

/* --- Header Navigation --- */
/*cgi 1/30/2013 use background class to allow menu wrapping if necessary*/
.pageHeaderNavigationBackground {
	background-color: #007856; /*M&T Green*/
	border-top: 1px solid #144D29;
	border-bottom: 1px solid #144D29;
}



/* ------------------------- Master Header Content ---------------------------- */
.headerContent,
.headerContentMinimal {
	color: #FFFFFF;
  
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#3c987e), to(#007856));
  
	/* Safari 5.1+, Chrome 10+ */
	background: -webkit-radial-gradient(circle, #3c987e, #007856);
  
	/* Firefox 3.6+ */ 
	background: -moz-radial-gradient(circle, #3c987e, #007856);
	
    /* IE6,IE7,IE8 */
	/* filter:  progid:DXImageTransform.Microsoft.gradient(startColorStr='#3c987e', EndColorStr='#007856',GradientType=1); */
	
	/* IE9 */
	/* -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#3c987e', EndColorStr='#007856')";  */
	
	/* IE 10 */ 
	background: -ms-radial-gradient(circle, #3c987e, #007856);
  
}

.headerLogo {
	background-image: url("images/mtb_logo.png?v1");
	height: 39px;
	width: 225px;
}
.headerTitle {
	/*cgi added*/
	padding-left: 10px;
	margin-top: 0px;
}
.headerBrandName {
	background-image: url("images/mtb_brand_name.png?v1");
	width: 181px;
	/*cgi added*/
	height: 26px;
	margin-top: 5px;

	/*cgi added*/
	float: none;
}
/*cgi added*/
.headerSubTitle {
	margin-left: 7px;
	margin-top: -2px;
	*margin-top: -1px;

	/*cgi added*/
	display: block;
}
/*cgi added*/
.headerSubTitleCenteringParent
{
	height: auto;
}
.parentSubTitle {
	/*cgi modified*/
	width: 300px;

	/*cgi added*/
	font-size: 12px;
}
.subsidiarySubTitle {
	/*cgi modified*/
	width: 300px;

	/*cgi added*/
	margin-top: -2px;
	*margin-top: 0px;
	font-size: 12px;
}


.headerBehavior a {
	color: #FFFFFF;
}
.headerBehavior a:hover {
	color: #C3E76F;
}

.headerActionDivider {
	border-left: 1px solid #C3E76F;
}

.headerLogout a {
	background-image: url("images/logout_button.png?v1");
}
.headerLogout a:hover {
	color:#C3E76F;
}


/* ------------------------- Master Footer Content ---------------------------- */

/* -------------------------  Form Content ---------------------------- */



/* ------------------------- MENU ---------------------------- */

/*set colors for all menu bar items*/
.megaMenuBarItem, /*for pre-dojo*/
.mmWrapper .dijitMenuBar .dijitMenuItem {
	background-color: #144D29;
}

/* ------------------------- Secondary Navigation -------------------- */


/* ------------------------- Page SubHeader -------------------- */



/* ------------------------- ERROR SECTION --------------------------- */

/* ------------------------- DIALOGS --------------------------------- */


/* ------------------------- SIDEBAR --------------------------------- */


/* ------------------------- COMMON ICON STYLES --------------------------------- */


/* ------------------------- COMMON PAGE STYLES --------------------------------- */


/* ------------------------- FIELD WIDTHS ---------------------------------- */

/* ----------------------- SUBSECTION HEADER ------------------------ */

/* -------------------------  PANE ---------------------------- */

/* ------------------------ FIELD LABELS ---------------------------- */

/* ------------------------ Table Containers ---------------------------- */

/* ------------------------ Admin Table ---------------------------- */

/* ------------------------ Page Header ---------------------------- */

/* ------------------------- DATA GRIDS  ---------------------------- */

/* ------------------------- CUSTOMIZATION PAGES  ---------------------------- */

/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */
/* ------------------------- PAGE SPECIFIC STYLING   ---------------------------- */

